In [1]:
from aq_analysis import *
from data_preparation import *
from data_exporting import latex_custom_table_format

meta_data, timeseries = get_metadata(), get_series()

In [2]:
meta_data

             Country       Division  Population  Latitude  Longitude
Zone
Adilabad       India      Telangana      118526   19.6720    78.5359
Agartala       India        Tripura      203264   23.8361    91.2794
Agra           India  Uttar Pradesh     1430055   27.1833    78.0167
Ajodhya        India  Uttar Pradesh       53293   26.7991    82.2047
Aligarh        India  Uttar Pradesh      753207   27.8815    78.0746
...              ...            ...         ...       ...        ...
Warangal       India      Telangana      557802   18.0000    79.5833
Yamethin     Myanmar       Mandalay       59867   20.4319    96.1388
Yamunanagar    India        Haryana      208931   30.1280    77.2837
Yangon       Myanmar         Yangon     4477638   16.8053    96.1561
Yenangyaung  Myanmar         Magway      110553   20.4650    94.8712

[505 rows x 5 columns]

In [3]:
overall_stats(timeseries)

count    1.862035e+07
mean     6.154137e+01
std      4.888409e+01
min      7.000000e-01
25%      2.710000e+01
50%      4.760000e+01
75%      8.110000e+01
max      9.991000e+02
dtype: float64

In [ ]:
latex_custom_table_format(timeseries.describe().T)

In [ ]:
# SimpleTimeseries(timeseries)

In [ ]:
stacked_bar(timeseries)

In [ ]:
day_night_distribution_zonal(timeseries)

In [ ]:
pair_distribution(timeseries)

In [ ]:
frequency_clustering(timeseries)

In [ ]:
# BoxPlotHour(timeseries)

In [3]:
# BoxPlotSeason(timeseries)

In [ ]:
# FactorAnalysis()