In [1]:

from AQ_Analysis import *

meta_data, time_series = get_metadata(), get_series()

In [2]:
time_series

,Bangkok,Dhaka,Jakarta,Kandy,Kathmandu,Kuala Lumpur,Lahore,Mumbai,Songjiang,Thimphu,Tokyo
time,,,,,,,,,,,
2017-01-01 00:00:00,25.4,269.4,31.5,NaN,62.6,34.2,NaN,123.5,74.8,NaN,19.8
2017-01-01 01:00:00,22.4,272.4,60.2,NaN,53.0,28.0,NaN,131.1,73.0,NaN,22.7
2017-01-01 02:00:00,22.6,249.8,95.3,NaN,58.0,27.5,NaN,125.9,70.1,NaN,31.0
2017-01-01 03:00:00,19.2,233.0,88.3,NaN,69.2,23.8,NaN,99.6,69.2,NaN,31.8
2017-01-01 04:00:00,20.0,225.9,29.5,NaN,99.1,21.5,NaN,124.0,68.9,NaN,29.5
...,...,...,...,...,...,...,...,...,...,...,...
2020-12-31 19:00:00,NaN,203.8,33.5,32.0,210.3,12.1,121.8,137.9,34.4,159.4,9.3
2020-12-31 20:00:00,NaN,203.2,34.3,33.1,192.1,12.1,368.2,128.3,33.6,149.5,9.7
2020-12-31 21:00:00,NaN,204.2,27.7,32.7,160.6,12.1,87.7,134.4,34.6,126.8,9.7
2020-12-31 22:00:00,NaN,181.3,21.4,82.8,137.9,12.1,82.1,142.2,34.7,114.0,10.3
2020-12-31 23:00:00,NaN,165.4,17.7,78.9,119.2,12.1,77.7,144.8,34.6,101.8,10.3