In [1]:
from data_preparation import get_metadata, get_series,clip_missing_prone_values, prepare_division_and_country_series

series_with_heavy_missing, metadata_with_heavy_missing = get_series(), get_metadata()
division_missing_counts, metadata, series = clip_missing_prone_values(metadata_with_heavy_missing, series_with_heavy_missing)
region_series, metadata_region, country_series, metadata_country = prepare_division_and_country_series(series,
                                                                                                       metadata)

In [6]:
# division_series_bd = region_series[['Dhaka','Khulna','Chittagong']]["2019":'2022'].round(2)
# division_series_bd.to_csv("region_series_BD_3_only.csv")

In [2]:
region_series.to_csv("region_series.csv")

In [7]:
region_series_summary = region_series.describe().round(2).T
region_series_summary.to_csv("region_series_summary.csv")

In [3]:
country_series.to_csv("country_series.csv")

In [8]:
country_series_summary = country_series.describe().round(2).T
country_series_summary.to_csv("country_series_summary.csv")

In [7]:
region_series.isna().sum().sort_values()

Division
Uttar Pradesh          1618
Bihar                  1644
Rajshahi               1646
Khulna                 1654
Mymensingh Division    1664
West Bengal            1665
Haryana                1807
Jharkhand              1849
NCT                    2042
Odisha                 2266
Telangana              2360
Shan                   2411
Dhaka                  2455
Barisal                2456
Chittagong             2574
Madhya Pradesh         3512
Kachin                 3682
Sylhet                 4685
Tripura                4688
Chhattisgarh           4689
Rangpur Division       5639
dtype: int64

In [8]:
region_series.resample('Y').apply(lambda x: x.isna().sum())#.sum(axis=1)

Division,Barisal,Bihar,Chhattisgarh,Chittagong,Dhaka,Haryana,Jharkhand,Kachin,Khulna,Madhya Pradesh,...,NCT,Odisha,Rajshahi,Rangpur Division,Shan,Sylhet,Telangana,Tripura,Uttar Pradesh,West Bengal
time,,,,,,,,,,,,,,,,,,,,,
2017-12-31,1392.0,673.0,1254.0,1392.0,1392.0,808.0,942.0,398.0,677.0,846.0,...,808.0,845.0,677.0,4495.0,894.0,1392.0,846.0,1392.0,755.0,823.0
2018-12-31,868.0,776.0,1208.0,912.0,868.0,667.0,686.0,680.0,781.0,871.0,...,798.0,772.0,776.0,912.0,656.0,2857.0,700.0,2857.0,683.0,661.0
2019-12-31,23.0,29.0,1403.0,83.0,23.0,136.0,50.0,1780.0,23.0,1113.0,...,139.0,289.0,23.0,58.0,48.0,237.0,156.0,239.0,17.0,18.0
2020-12-31,11.0,8.0,239.0,11.0,11.0,8.0,9.0,503.0,11.0,152.0,...,87.0,163.0,9.0,9.0,492.0,19.0,153.0,19.0,8.0,8.0
2021-12-31,162.0,158.0,585.0,176.0,161.0,188.0,162.0,321.0,162.0,530.0,...,210.0,197.0,161.0,165.0,321.0,180.0,505.0,181.0,155.0,155.0

In [9]:
Khulna_division_series = region_series.Khulna

In [10]:
Khulna_division_series.resample('Y').apply(lambda x: x.isna().sum())

time
2017-12-31    677.0
2018-12-31    781.0
2019-12-31     23.0
2020-12-31     11.0
2021-12-31    162.0
Freq: A-DEC, Name: Khulna, dtype: float64