In [1]:
import pandas as pd

from data_preparation import get_metadata, get_series,clip_missing_prone_values, prepare_region_and_country_series

series_with_heavy_missing, metadata_with_heavy_missing = get_series(), get_metadata()
division_missing_counts, metadata, series = clip_missing_prone_values(metadata_with_heavy_missing, series_with_heavy_missing)
region_series, metadata_region, country_series, metadata_country = prepare_region_and_country_series(series,
                                                                                                       metadata)

In [15]:
division_missing_counts

Division
Uttar Pradesh           1731
Bihar                   1757
Rajshahi                1762
Mymensingh Division     1778
West Bengal             1781
Khulna                  1868
Jharkhand               1962
Haryana                 1981
NCT                     2254
Odisha                  2451
Shan                    2553
Barisal                 2570
Dhaka                   2572
Chittagong              2696
Telangana               2944
Kachin                  3924
Madhya Pradesh          4096
Sylhet                  4823
Tripura                 4968
Chhattisgarh            5291
Rangpur Division        5764
Assam                  10562
Kayin                  12194
Bago                   13072
Mon                    13080
Tanintharyi            17449
Mandalay               24014
Yangon                 25440
Ayeyarwady             27408
Sagain                 28935
Nay Pyi Taw            36859
Magway                 37819
Rakhine                46694
dtype: int64

In [6]:
# division_series_bd = region_series[['Dhaka','Khulna','Chittagong']]["2019":"2022"].round(2)
# division_series_bd.to_csv("region_series_BD_3_only.csv")

In [2]:
region_series.to_csv("region_series.csv")

In [7]:
region_series_summary = region_series.describe().round(2).T
region_series_summary.to_csv("region_series_summary.csv")

In [3]:
country_series.to_csv("country_series.csv")

In [8]:
country_series_summary = country_series.describe().round(2).T
country_series_summary.to_csv("country_series_summary.csv")

In [16]:
metadata_region.to_csv("metadata_region.csv")
metadata_country.to_csv("metadata_country.csv")

In [32]:
files_path = "../Files/series/"
df = pd.read_csv(files_path + "region_series.csv",index_col='time')
# df = pd.read_csv(files_path + "metadata_region.csv",index_col='Division')
# df = pd.read_csv(files_path + "country_series.csv",index_col='time')
# df = pd.read_csv(files_path + "metadata_country.csv",index_col='Country')
df

,Barisal,Bihar,Chhattisgarh,Chittagong,Dhaka,Haryana,Jharkhand,Kachin,Khulna,Madhya Pradesh,...,NCT,Odisha,Rajshahi,Rangpur Division,Shan,Sylhet,Telangana,Tripura,Uttar Pradesh,West Bengal
time,,,,,,,,,,,,,,,,,,,,,
2017-01-01 00:00:00,205.90,99.31,82.70,198.87,236.78,129.14,122.73,51.4,226.34,117.13,...,164.83,76.55,178.90,NaN,21.80,171.00,71.53,193.0,124.27,225.31
2017-01-01 01:00:00,197.10,90.76,82.55,195.83,235.59,122.20,112.49,54.4,210.94,106.62,...,158.33,78.35,170.01,NaN,24.30,171.20,79.03,192.9,111.39,200.20
2017-01-01 02:00:00,172.90,85.51,78.80,176.58,213.68,128.47,99.64,57.9,180.12,105.61,...,168.63,74.20,152.00,NaN,27.90,157.80,77.46,176.7,116.21,162.93
2017-01-01 03:00:00,162.97,88.61,86.30,167.30,200.58,137.14,99.15,74.7,168.82,109.20,...,165.90,82.15,145.62,NaN,32.60,152.30,82.83,168.4,121.28,152.62
2017-01-01 04:00:00,151.57,93.17,87.35,160.97,193.19,151.82,95.85,86.2,151.92,124.04,...,192.07,80.25,140.94,NaN,39.00,151.60,87.65,165.2,137.86,129.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-04-30 19:00:00,45.63,40.32,49.02,42.78,66.38,117.79,40.01,22.4,43.92,56.14,...,123.73,22.79,51.92,36.78,28.20,41.23,75.17,56.0,89.19,31.37
2022-04-30 20:00:00,48.33,38.82,43.06,44.66,71.01,123.87,36.45,22.5,45.90,51.72,...,130.93,20.51,52.38,35.90,28.15,41.70,65.66,56.9,87.64,30.45
2022-04-30 21:00:00,32.27,39.07,58.42,29.55,44.02,122.80,42.10,21.5,32.68,51.22,...,130.40,24.62,39.93,28.70,27.20,26.37,69.28,34.4,79.81,27.05
2022-04-30 22:00:00,31.70,33.59,41.88,27.92,42.41,114.74,34.59,21.4,32.40,46.71,...,116.50,36.17,36.46,26.87,25.60,23.63,60.96,28.9,71.32,27.30
2022-04-30 23:00:00,34.67,34.39,47.00,28.77,46.32,100.77,37.20,21.3,36.14,47.09,...,122.43,37.11,38.59,27.83,24.30,22.80,62.09,26.0,69.41,29.17

In [7]:
region_series.isna().sum().sort_values()

Division
Uttar Pradesh          1618
Bihar                  1644
Rajshahi               1646
Khulna                 1654
Mymensingh Division    1664
West Bengal            1665
Haryana                1807
Jharkhand              1849
NCT                    2042
Odisha                 2266
Telangana              2360
Shan                   2411
Dhaka                  2455
Barisal                2456
Chittagong             2574
Madhya Pradesh         3512
Kachin                 3682
Sylhet                 4685
Tripura                4688
Chhattisgarh           4689
Rangpur Division       5639
dtype: int64

In [8]:
region_series.resample('Y').apply(lambda x: x.isna().sum())#.sum(axis=1)

Division,Barisal,Bihar,Chhattisgarh,Chittagong,Dhaka,Haryana,Jharkhand,Kachin,Khulna,Madhya Pradesh,...,NCT,Odisha,Rajshahi,Rangpur Division,Shan,Sylhet,Telangana,Tripura,Uttar Pradesh,West Bengal
time,,,,,,,,,,,,,,,,,,,,,
2017-12-31,1392.0,673.0,1254.0,1392.0,1392.0,808.0,942.0,398.0,677.0,846.0,...,808.0,845.0,677.0,4495.0,894.0,1392.0,846.0,1392.0,755.0,823.0
2018-12-31,868.0,776.0,1208.0,912.0,868.0,667.0,686.0,680.0,781.0,871.0,...,798.0,772.0,776.0,912.0,656.0,2857.0,700.0,2857.0,683.0,661.0
2019-12-31,23.0,29.0,1403.0,83.0,23.0,136.0,50.0,1780.0,23.0,1113.0,...,139.0,289.0,23.0,58.0,48.0,237.0,156.0,239.0,17.0,18.0
2020-12-31,11.0,8.0,239.0,11.0,11.0,8.0,9.0,503.0,11.0,152.0,...,87.0,163.0,9.0,9.0,492.0,19.0,153.0,19.0,8.0,8.0
2021-12-31,162.0,158.0,585.0,176.0,161.0,188.0,162.0,321.0,162.0,530.0,...,210.0,197.0,161.0,165.0,321.0,180.0,505.0,181.0,155.0,155.0

In [9]:
Khulna_division_series = region_series.Khulna

In [10]:
Khulna_division_series.resample('Y').apply(lambda x: x.isna().sum())

time
2017-12-31    677.0
2018-12-31    781.0
2019-12-31     23.0
2020-12-31     11.0
2021-12-31    162.0
Freq: A-DEC, Name: Khulna, dtype: float64