In [1]:
from data_preparation import get_metadata, get_series,clip_missing_prone_values, prepare_region_and_country_series
from data_preparation import save_region_and_country_series,read_region_and_country_series

# Saving all granularity data

In [2]:
# metadata_all_with_heavy_missing, series_all_with_heavy_missing = get_metadata(), get_series()
#
# division_missing_counts, metadata_all, series_all = clip_missing_prone_values(metadata_all_with_heavy_missing,
#                                                                               series_all_with_heavy_missing)
# region_series_all, metadata_region_all, country_series_all, metadata_country_all = prepare_region_and_country_series(series_all,
#                                                                                                                      metadata_all)

In [ ]:
# save_region_and_country_series(region_series_all, country_series_all, metadata_region_all, metadata_country_all)

In [ ]:
# region_series_all, metadata_region_all, country_series_all, metadata_country_all = read_region_and_country_series()

In [1]:
from data_preparation import read_all_granularity_data

metadata_all, series_all, metadata_region_all, region_series_all,\
metadata_country_all, country_series_all = read_all_granularity_data()

,Zone,Country,Region,Population,Latitude,Longitude
index,,,,,,
Adilabad_Telangana,Adilabad,India,Telangana,118526,19.6720,78.5359
Agra_Uttar Pradesh,Agra,India,Uttar Pradesh,1430055,27.1833,78.0167
Ajodhya_Uttar Pradesh,Ajodhya,India,Uttar Pradesh,53293,26.7991,82.2047
Aligarh_Uttar Pradesh,Aligarh,India,Uttar Pradesh,753207,27.8815,78.0746
Allahabad_Uttar Pradesh,Allahabad,India,Uttar Pradesh,1073438,25.4448,81.8432
...,...,...,...,...,...,...
Vidisha_Madhya Pradesh,Vidisha,India,Madhya Pradesh,140045,23.5260,77.8109
Vrindavan_Uttar Pradesh,Vrindavan,India,Uttar Pradesh,60195,27.5811,77.6966
Wanparti_Telangana,Wanparti,India,Telangana,55182,16.3674,78.0689
Warangal_Telangana,Warangal,India,Telangana,557802,18.0000,79.5833
Yamunanagar_Haryana,Yamunanagar,India,Haryana,208931,30.1280,77.2837

In [2]:
metadata_all.shape, metadata_region_all.shape, metadata_country_all.shape

((444, 6), (18, 5), (2, 4))

In [3]:
series_all.shape,region_series_all.shape,country_series_all.shape

((46704, 444), (46704, 18), (46704, 2))

In [4]:
from data_preparation.spatio_temporal_filtering import get_bd_data

metadata, series, metadata_region, region_series, metadata_country, country_series = get_bd_data()

In [5]:
metadata.shape, metadata_region.shape, metadata_country.shape

((55, 6), (8, 5), (1, 4))

In [6]:
series.shape,region_series.shape,country_series.shape

((46704, 55), (46704, 8), (46704, 1))

In [8]:
metadata_all

,Zone,Country,Region,Population,Latitude,Longitude
index,,,,,,
Adilabad_Telangana,Adilabad,India,Telangana,118526,19.6720,78.5359
Agra_Uttar Pradesh,Agra,India,Uttar Pradesh,1430055,27.1833,78.0167
Ajodhya_Uttar Pradesh,Ajodhya,India,Uttar Pradesh,53293,26.7991,82.2047
Aligarh_Uttar Pradesh,Aligarh,India,Uttar Pradesh,753207,27.8815,78.0746
Allahabad_Uttar Pradesh,Allahabad,India,Uttar Pradesh,1073438,25.4448,81.8432
...,...,...,...,...,...,...
Vidisha_Madhya Pradesh,Vidisha,India,Madhya Pradesh,140045,23.5260,77.8109
Vrindavan_Uttar Pradesh,Vrindavan,India,Uttar Pradesh,60195,27.5811,77.6966
Wanparti_Telangana,Wanparti,India,Telangana,55182,16.3674,78.0689
Warangal_Telangana,Warangal,India,Telangana,557802,18.0000,79.5833
Yamunanagar_Haryana,Yamunanagar,India,Haryana,208931,30.1280,77.2837

In [9]:
metadata_region_all

                        Country  Population   Latitude  Longitude  Count
Region
Barisal              Bangladesh      355739  22.657433  90.329767      3
Bihar                     India     6928787  25.708822  85.630522     41
Chhattisgarh              India     2872929  21.400350  82.035208     12
Chittagong           Bangladesh     5117216  22.714367  91.453817     12
Dhaka                Bangladesh    12421465  23.735636  90.334793     14
Haryana                   India     6280342  29.229848  76.427341     27
Jharkhand                 India     3061175  23.793406  85.894763     16
Khulna               Bangladesh     1906080  23.149120  89.292880      5
Madhya Pradesh            India    11620902  23.683922  77.800602     50
Mymensingh Division  Bangladesh      660786  24.865940  90.186480      5
NCT                       India    11440146  28.655767  77.174667      3
Odisha                    India     4212298  20.656442  84.843668     19
Rajshahi             Bangladesh     2016125  24.626830  89.072410     10
Rangpur Division     Bangladesh      685579  25.830550  88.951325      4
Sylhet               Bangladesh      383201  24.589433  91.685267      3
Telangana                 India     8941106  17.849662  78.918646     39
Uttar Pradesh             India    26376298  27.528679  79.667813    107
West Bengal               India    17664785  23.554336  88.158059     75

In [10]:
metadata_country_all

            Population   Latitude  Longitude  Count
Country
Bangladesh    23546191  23.862102  90.216146     56
India         99398768  24.554454  81.955912    389

In [79]:
series.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 46704 entries, 2017-01-01 00:00:00 to 2022-04-30 23:00:00
Data columns (total 55 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Azimpur_Dhaka                    44084 non-null  float64
 1   Barisal_Barisal                  44130 non-null  float64
 2   Bhairab Bazar_Dhaka              42550 non-null  float64
 3   Bhola_Barisal                    43936 non-null  float64
 4   Bogra_Rajshahi                   43782 non-null  float64
 5   Chittagong_Chittagong            33200 non-null  float64
 6   Comilla_Chittagong               41665 non-null  float64
 7   Dhaka_Dhaka                      44034 non-null  float64
 8   Dinajpur_Rangpur Division        40780 non-null  float64
 9   Faridpur_Dhaka                   44126 non-null  float64
 10  Feni_Chittagong                  41702 non-null  float64
 11  Habiganj_Sylhet                  41807 non-null  float64
 12  Ishurdi_Rajshahi                 44473 non-null  float64
 13  Jamalpur_Mymensingh Division     43975 non-null  float64
 14  Jessore_Khulna                   44677 non-null  float64
 15  Joypur Hat_Rajshahi              43772 non-null  float64
 16  Khagrachhari_Chittagong          33586 non-null  float64
 17  Khulna_Khulna                    44222 non-null  float64
 18  Kishorganj_Dhaka                 43495 non-null  float64
 19  Kushtia_Khulna                   44738 non-null  float64
 20  Laksham_Chittagong               41865 non-null  float64
 21  Lakshmipur_Chittagong            43792 non-null  float64
 22  Lalmanirhat_Rangpur Division     35802 non-null  float64
 23  Madaripur_Dhaka                  44110 non-null  float64
 24  Maulavi Bazar_Sylhet             33700 non-null  float64
 25  Mymensingh_Mymensingh Division   43930 non-null  float64
 26  Nagarpur_Dhaka                   44074 non-null  float64
 27  Narail_Khulna                    44577 non-null  float64
 28  Narayanganj_Dhaka                43933 non-null  float64
 29  Narsingdi_Dhaka                  43898 non-null  float64
 30  Nawabganj_Rajshahi               44534 non-null  float64
 31  Netrakona_Mymensingh Division    43530 non-null  float64
 32  Pabna_Rajshahi                   44668 non-null  float64
 33  Palang_Dhaka                     44125 non-null  float64
 34  Paltan_Dhaka                     44085 non-null  float64
 35  Par Naogaon_Rajshahi             43759 non-null  float64
 36  Patiya_Chittagong                33221 non-null  float64
 37  Pirojpur_Barisal                 43955 non-null  float64
 38  Raipur_Chittagong                43995 non-null  float64
 39  Rajshahi_Rajshahi                44556 non-null  float64
 40  Ramganj_Chittagong               43885 non-null  float64
 41  Rangpur_Rangpur Division         35789 non-null  float64
 42  Saidpur_Rajshahi                 36346 non-null  float64
 43  Sandwip_Chittagong               33479 non-null  float64
 44  Sarishabari_Mymensingh Division  44033 non-null  float64
 45  Satkania_Chittagong              32932 non-null  float64
 46  Satkhira_Khulna                  44238 non-null  float64
 47  Shahzadpur_Rajshahi              44074 non-null  float64
 48  Sherpur_Mymensingh Division      43964 non-null  float64
 49  Sirajganj_Rajshahi               44092 non-null  float64
 50  Sylhet_Sylhet                    33699 non-null  float64
 51  Tangail_Dhaka                    44063 non-null  float64
 52  Thakurgaon_Rangpur Division      37302 non-null  float64
 53  Tungi_Dhaka                      43956 non-null  float64
 54  Tungipara_Dhaka                  44124 non-null  float64
dtypes: float64(55)
memory usage: 20.0 MB

# Custom Data Preparation

In [6]:
# division_series_bd = region_series[['Dhaka','Khulna','Chittagong']]["2019":"2022"].round(2)
# division_series_bd.to_csv("region_series_BD_3_only.csv")

In [7]:
# region_series_summary = region_series.describe().round(2).T
# region_series_summary.to_csv("region_series_summary.csv")

In [8]:
# country_series_summary = country_series.describe().round(2).T
# country_series_summary.to_csv("country_series_summary.csv")

# Custom Data Preparation BD

In [4]:
from data_preparation.spatio_temporal_filtering import get_bd_data_4_years

# metadata, series, metadata_region, region_series, metadata_country, country_series = get_bd_data_4_years()

In [10]:
# series.to_csv('series_4_year.csv')
# region_series.to_csv('region_series_4_year.csv')
# country_series.to_csv('country_series_4_year.csv')

,Zone,Country,Region,Population,Latitude,Longitude
index,,,,,,
Azimpur_Dhaka,Azimpur,Bangladesh,Dhaka,96641,23.7298,90.3854
Barisal_Barisal,Barisal,Bangladesh,Barisal,202242,22.7050,90.3701
Bhairab Bazar_Dhaka,Bhairab Bazar,Bangladesh,Dhaka,105457,24.0524,90.9764
Bhola_Barisal,Bhola,Bangladesh,Barisal,99079,22.6876,90.6440
Bogra_Rajshahi,Bogra,Bangladesh,Rajshahi,210000,24.8510,89.3711
Chittagong_Chittagong,Chittagong,Bangladesh,Chittagong,3920222,22.3384,91.8317
Comilla_Chittagong,Comilla,Bangladesh,Chittagong,389411,23.4619,91.1850
Dhaka_Dhaka,Dhaka,Bangladesh,Dhaka,10356500,23.7104,90.4074
Dinajpur_Rangpur,Dinajpur,Bangladesh,Rangpur,206234,25.6274,88.6378
Faridpur_Dhaka,Faridpur,Bangladesh,Dhaka,112187,23.6061,89.8406
Feni_Chittagong,Feni,Bangladesh,Chittagong,84028,23.0144,91.3966
Habiganj_Sylhet,Habiganj,Bangladesh,Sylhet,88760,24.3804,91.4130
Ishurdi_Rajshahi,Ishurdi,Bangladesh,Rajshahi,81995,24.1286,89.0657
Jamalpur_Mymensingh,Jamalpur,Bangladesh,Mymensingh,167900,24.9197,89.9481
Jessore_Khulna,Jessore,Bangladesh,Khulna,243987,23.1697,89.2137
Joypur Hat_Rajshahi,Joypur Hat,Bangladesh,Rajshahi,73068,25.1015,89.0273
Khagrachhari_Chittagong,Khagrachhari,Bangladesh,Chittagong,50364,23.1079,91.9701
Khulna_Khulna,Khulna,Bangladesh,Khulna,1342339,22.8098,89.5644
Kishorganj_Dhaka,Kishorganj,Bangladesh,Dhaka,90690,24.4394,90.7829
Kushtia_Khulna,Kushtia,Bangladesh,Khulna,135724,23.9028,89.1194
Laksham_Chittagong,Laksham,Bangladesh,Chittagong,82290,23.2402,91.1214
Lakshmipur_Chittagong,Lakshmipur,Bangladesh,Chittagong,61703,22.9443,90.8300
Lalmanirhat_Rangpur,Lalmanirhat,Bangladesh,Rangpur,65127,25.9172,89.4459
Madaripur_Dhaka,Madaripur,Bangladesh,Dhaka,84789,23.1710,90.2094
Maulavi Bazar_Sylhet,Maulavi Bazar,Bangladesh,Sylhet,57441,24.4889,91.7708
Mymensingh_Mymensingh,Mymensingh,Bangladesh,Mymensingh,225126,24.7564,90.4065
Nagarpur_Dhaka,Nagarpur,Bangladesh,Dhaka,238422,24.0578,89.8770
Narail_Khulna,Narail,Bangladesh,Khulna,55112,23.1551,89.4951
Narayanganj_Dhaka,Narayanganj,Bangladesh,Dhaka,223622,23.6135,90.5030
Narsingdi_Dhaka,Narsingdi,Bangladesh,Dhaka,281080,23.9230,90.7177
Nawabganj_Rajshahi,Nawabganj,Bangladesh,Rajshahi,142361,24.5903,88.2744
Netrakona_Mymensingh,Netrakona,Bangladesh,Mymensingh,79016,24.8835,90.7290
Pabna_Rajshahi,Pabna,Bangladesh,Rajshahi,186781,24.0064,89.2372
Palang_Dhaka,Palang,Bangladesh,Dhaka,67652,23.2182,90.3508
Paltan_Dhaka,Paltan,Bangladesh,Dhaka,184492,23.7362,90.4143
Par Naogaon_Rajshahi,Par Naogaon,Bangladesh,Rajshahi,192464,24.8042,88.9488
Patiya_Chittagong,Patiya,Bangladesh,Chittagong,51360,22.2954,91.9790
Pirojpur_Barisal,Pirojpur,Bangladesh,Barisal,54418,22.5797,89.9752
Raipur_Chittagong,Raipur,Bangladesh,Chittagong,64652,23.0391,90.7681
Rajshahi_Rajshahi,Rajshahi,Bangladesh,Rajshahi,700133,24.3740,88.6011
Ramganj_Chittagong,Ramganj,Bangladesh,Chittagong,55241,23.1006,90.8499
Rangpur_Rangpur,Rangpur,Bangladesh,Rangpur,343122,25.7466,89.2517
Saidpur_Rajshahi,Saidpur,Bangladesh,Rajshahi,199422,25.7777,88.8917
Sandwip_Chittagong,Sandwip,Bangladesh,Chittagong,52152,22.5141,91.4549
Sarishabari_Mymensingh,Sarishabari,Bangladesh,Mymensingh,81325,24.7513,89.8313
Satkania_Chittagong,Satkania,Bangladesh,Chittagong,52005,22.0764,92.0495
Satkhira_Khulna,Satkhira,Bangladesh,Khulna,128918,22.7082,89.0718
Shahzadpur_Rajshahi,Shahzadpur,Bangladesh,Rajshahi,102420,24.1769,89.5988
Sherpur_Mymensingh,Sherpur,Bangladesh,Mymensingh,107419,25.0188,90.0175
Sirajganj_Rajshahi,Sirajganj,Bangladesh,Rajshahi,127481,24.4577,89.7080
Sylhet_Sylhet,Sylhet,Bangladesh,Sylhet,237000,24.8990,91.8720
Tangail_Dhaka,Tangail,Bangladesh,Dhaka,180144,24.2498,89.9166
Thakurgaon_Rangpur,Thakurgaon,Bangladesh,Rangpur,71096,26.0310,88.4699
Tungi_Dhaka,Tungi,Bangladesh,Dhaka,337579,23.8915,90.4023
Tungipara_Dhaka,Tungipara,Bangladesh,Dhaka,62210,22.8998,89.9033

In [17]:
from data_preparation.spatio_temporal_filtering import get_bd_data

metadata, series, metadata_region, region_series, metadata_country, country_series = get_bd_data()

In [18]:
series.to_csv('series.csv')
region_series.to_csv('region_series.csv')
country_series.to_csv('country_series.csv')

In [19]:
metadata.to_csv('metadata.csv')
metadata_region.to_csv('metadata_region.csv')
metadata_country.to_csv('metadata_country.csv')

In [15]:
print(metadata.shape, series.shape, metadata_region.shape, region_series.shape, metadata_country.shape, country_series.shape)

(55, 6) (46704, 55) (8, 5) (46704, 8) (1, 4) (46704, 1)