In [1]:
import plotly.graph_objects as go
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from data_preparation import get_metadata, get_series,clip_missing_prone_values, prepare_division_and_country_series

series_with_heavy_missing, metadata_with_heavy_missing = get_series(), get_metadata()
division_missing_counts, metadata, series = clip_missing_prone_values(metadata_with_heavy_missing, series_with_heavy_missing)
region_series, metadata_region, country_series, metadata_country = prepare_division_and_country_series(series,
                                                                                                       metadata)

In [3]:
region_series

Division,Barisal,Bihar,Chhattisgarh,Chittagong,Dhaka,Haryana,Jharkhand,Kachin,Khulna,Madhya Pradesh,...,NCT,Odisha,Rajshahi,Rangpur Division,Shan,Sylhet,Telangana,Tripura,Uttar Pradesh,West Bengal
time,,,,,,,,,,,,,,,,,,,,,
2017-01-01 00:00:00,205.900000,99.307317,82.700000,198.866667,236.778571,129.136,122.728571,51.4,226.34,117.129412,...,164.833333,76.550000,178.900000,NaN,21.80,171.000000,71.533333,193.0,124.266981,225.310769
2017-01-01 01:00:00,197.100000,90.758537,82.550000,195.833333,235.585714,122.204,112.492857,54.4,210.94,106.617647,...,158.333333,78.350000,170.011111,NaN,24.30,171.200000,79.028205,192.9,111.385849,200.200000
2017-01-01 02:00:00,172.900000,85.514634,78.800000,176.583333,213.678571,128.468,99.642857,57.9,180.12,105.611765,...,168.633333,74.200000,152.000000,NaN,27.90,157.800000,77.456410,176.7,116.210377,162.930769
2017-01-01 03:00:00,162.966667,88.609756,86.300000,167.300000,200.578571,137.144,99.150000,74.7,168.82,109.200000,...,165.900000,82.150000,145.622222,NaN,32.60,152.300000,82.828205,168.4,121.279245,152.620000
2017-01-01 04:00:00,151.566667,93.170732,87.350000,160.966667,193.192857,151.816,95.850000,86.2,151.92,124.036364,...,192.066667,80.250000,140.944444,NaN,39.00,151.600000,87.653846,165.2,137.858095,129.160000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-31 19:00:00,107.333333,92.759459,76.516667,95.727273,119.164286,110.265,66.300000,35.5,119.48,94.406000,...,181.900000,62.073684,94.530000,69.725,33.35,85.100000,71.494286,102.3,113.776923,110.145333
2021-12-31 20:00:00,104.966667,101.794595,65.800000,82.408333,121.964286,144.730,62.386667,29.7,130.28,81.058000,...,268.800000,57.736842,119.370000,116.125,27.45,77.300000,66.180000,110.9,129.199038,134.554667
2021-12-31 21:00:00,111.000000,88.391892,67.691667,93.591667,125.657143,122.495,46.000000,24.6,130.36,80.336000,...,279.100000,60.726316,120.400000,124.725,28.15,94.333333,68.845714,131.4,129.938462,127.088000
2021-12-31 22:00:00,107.566667,85.070270,52.166667,90.866667,121.992857,121.000,41.860000,23.4,126.50,79.258000,...,267.050000,43.026316,116.200000,120.400,28.25,89.600000,65.474286,133.0,127.804808,123.230667
2021-12-31 23:00:00,99.833333,83.413514,45.925000,91.816667,121.364286,123.770,39.773333,21.7,102.18,73.332000,...,240.600000,38.194737,104.760000,112.650,28.45,93.000000,57.162857,147.9,122.405769,86.726667

In [5]:
# from visualization import box_plot_series
# from data_preparation import get_category_info

# colorScale, categoryName, AQScale = get_category_info()