In [1]:
from scrapers.wunderground import prepare_firefox_driver
from paths import dataset_url

import pandas as pd

zone_data = pd.DataFrame(columns=['Country','Division','Zone'])

countries = ["Bangladesh","India","Myanmar","Nepal","Bhutan"]

In [2]:
driver = prepare_firefox_driver()

In [71]:
from selenium.webdriver.common.keys import Keys

driver.get("https://www.meteoblue.com/en/weather/archive/era5/shahbag_bangladesh_7697915")
# driver.find_element_by_id("gdpr_form").click()

In [41]:
location = '23.710 90.407'
driver.find_element_by_id("gls").send_keys(location+Keys.ENTER)

In [46]:
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions
from selenium.webdriver.support.wait import WebDriverWait

# driver.find_element_by_class_name("search-results").find_elements_by_tag_name('tr')[1].send_keys(Keys.RETURN)

searchTable = WebDriverWait(driver, 3).until(expected_conditions.presence_of_all_elements_located(
            (By.XPATH, "//table[@class = 'search-results']//tr")))
searchTable[1].find_elements_by_xpath(".//td")[1].click()

In [15]:
driver.find_element_by_id("gls").send_keys(Keys.RETURN)

In [ ]:
country = countries[0]

In [42]:
berkeleyearth_data_url_country = dataset_url + country + "/"
driver.get(berkeleyearth_data_url_country)
links = driver.find_elements_by_tag_name("a")
divisions = [link.text for link in links if link.text.endswith("/")]
divisions

['Barisal/',
 'Chittagong/',
 'Dhaka/',
 'Khulna/',
 'Mymensingh_Division/',
 'Rajshahi/',
 'Rangpur_Division/',
 'Sylhet/']

In [44]:
division = divisions[0]
berkeleyearth_data_url_country_area = berkeleyearth_data_url_country + division

driver.get(berkeleyearth_data_url_country_area)
links = driver.find_elements_by_tag_name("a")
zones = [link.text for link in links  if link.text.endswith("txt")]
zones

['Barisal.txt', 'Bhola.txt', 'Pirojpur.txt']

In [46]:
zone = zones[0]

In [50]:
zone_data_length = len(zone_data)
zone_data.loc[zone_data_length] = [country,division[:-1],zone[:-4]]

In [51]:
zone_data

      Country Division     Zone
0  Bangladesh  Barisal  Barisal

In [49]:
[country,division[:-1],zone[:-4]]

['Bangladesh', 'Barisal', 'Barisal']

In [2]:
for country in countries:
    berkeleyearth_data_url_country = dataset_url + country + "/"
    driver.get(berkeleyearth_data_url_country)
    links = driver.find_elements_by_tag_name("a")
    divisions = [link.text for link in links if link.text.endswith("/")]

    for division in divisions:
        berkeleyearth_data_url_country_area = berkeleyearth_data_url_country + division

        driver.get(berkeleyearth_data_url_country_area)
        links = driver.find_elements_by_tag_name("a")
        zones = [link.text for link in links  if link.text.endswith("txt")]

        for zone in zones:
            zone_data_length = len(zone_data)
            zone_data.loc[zone_data_length] = [country,division[:-1],zone[:-4]]

In [53]:
zone_data.to_csv('bd_and_neighbours_full.csv',index=False)

In [32]:
zone_data = pd.read_csv('bd_and_neighbours.csv')
zone_data

     Country     Division        Zone
0      India        Assam  Bongaigaon
1      India        Assam     Dhuburi
2      India        Assam   Dibrugarh
3      India        Assam       Diphu
4      India        Assam    Goalpara
..       ...          ...         ...
500  Myanmar  Tanintharyi       Myeik
501  Myanmar       Yangon       Kanbe
502  Myanmar       Yangon      Syriam
503  Myanmar       Yangon     Thongwa
504  Myanmar       Yangon      Yangon

[505 rows x 3 columns]

### Removing area general data to keep only zone specific data

In [7]:
zone_data[zone_data.Division==zone_data.Zone]

         Country                Division                    Zone
0     Bangladesh                 Barisal                 Barisal
3     Bangladesh              Chittagong              Chittagong
17    Bangladesh                   Dhaka                   Dhaka
30    Bangladesh                  Khulna                  Khulna
45    Bangladesh                Rajshahi                Rajshahi
55    Bangladesh                  Sylhet                  Sylhet
56         India     Andaman_and_Nicobar     Andaman_and_Nicobar
61         India          Andhra_Pradesh          Andhra_Pradesh
117        India       Arunachal_Pradesh       Arunachal_Pradesh
118        India                   Assam                   Assam
141        India                   Bihar                   Bihar
174        India              Chandigarh              Chandigarh
179        India            Chhattisgarh            Chhattisgarh
188        India  Dadra_and_Nagar_Haveli  Dadra_and_Nagar_Haveli
189        India           Daman_and_Diu           Daman_and_Diu
190        India                   Delhi                   Delhi
191        India                     Goa                     Goa
217        India                 Gujarat                 Gujarat
260        India                 Haryana                 Haryana
277        India        Himachal_Pradesh        Himachal_Pradesh
279        India       Jammu_and_Kashmir       Jammu_and_Kashmir
289        India               Jharkhand               Jharkhand
328        India               Karnataka               Karnataka
365        India                  Kerala                  Kerala
384        India             Lakshadweep             Lakshadweep
411        India          Madhya_Pradesh          Madhya_Pradesh
483        India             Maharashtra             Maharashtra
524        India                 Manipur                 Manipur
525        India               Meghalaya               Meghalaya
530        India                 Mizoram                 Mizoram
536        India                Nagaland                Nagaland
557        India                  Orissa                  Orissa
560        India              Puducherry              Puducherry
586        India                  Punjab                  Punjab
632        India               Rajasthan               Rajasthan
642        India                  Sikkim                  Sikkim
696        India              Tamil_Nadu              Tamil_Nadu
756        India                 Tripura                 Tripura
862        India           Uttar_Pradesh           Uttar_Pradesh
872        India             Uttaranchal             Uttaranchal
948        India             West_Bengal             West_Bengal
955      Myanmar                    Bago                    Bago
963      Myanmar                  Magway                  Magway
971      Myanmar                Mandalay                Mandalay
980      Myanmar             Nay_Pyi_Taw             Nay_Pyi_Taw
994      Myanmar                  Yangon                  Yangon
1011      Bhutan                 Thimphu                 Thimphu

In [8]:
zone_data_clean = zone_data[(zone_data.Country!='India') | (zone_data.Division!=zone_data.Zone)]
zone_data_clean

         Country        Division             Zone
0     Bangladesh         Barisal          Barisal
1     Bangladesh         Barisal            Bhola
2     Bangladesh         Barisal         Pirojpur
3     Bangladesh      Chittagong       Chittagong
4     Bangladesh      Chittagong          Comilla
...          ...             ...              ...
1007       Nepal  Western_Region           Butwal
1008       Nepal  Western_Region          Pokhara
1009       Nepal  Western_Region  Siddharthanagar
1010      Bhutan         Thimphu     Lungtenzampa
1011      Bhutan         Thimphu          Thimphu

[977 rows x 3 columns]

### India has around 900 stations over 29 areas so we sample 3 stations from each states while discarding states with stations in low numbers

In [10]:
zone_data_clean.Country.value_counts()

India         858
Bangladesh     56
Myanmar        46
Nepal          15
Bhutan          2
Name: Country, dtype: int64

In [10]:
zone_data_clean_india = zone_data_clean[zone_data_clean.Country=='India']
zone_data_clean_not_india = zone_data_clean[zone_data_clean.Country!='India']
division_value_counts_india = zone_data_clean_india.Division.value_counts()
division_value_counts_india

Uttar_Pradesh       107
Maharashtra          86
West_Bengal          75
Tamil_Nadu           72
Andhra_Pradesh       59
Karnataka            55
Gujarat              53
Madhya_Pradesh       50
Rajasthan            48
Bihar                41
Telangana            39
Punjab               31
Haryana              27
Kerala               23
Odisha               19
Jharkhand            16
Assam                13
Chhattisgarh         12
Uttarakhand           7
Kashmir               7
NCT                   3
Nagaland              3
Goa                   3
Meghalaya             2
Pondicherry           2
Mizoram               2
Manipur               1
Tripura               1
Himachal_Pradesh      1
Name: Division, dtype: int64

# Random Selection

In [ ]:
# zone_data_clean_india.groupby('Division').apply(lambda x: x.sample(frac=.1) if len(x)>10 else x)

In [ ]:
infrequent_division_value_counts_india = division_value_counts_india[division_value_counts_india<3]

In [20]:
infrequent_division_value_counts_india

Pondicherry         2
Mizoram             2
Meghalaya           2
Tripura             1
Himachal_Pradesh    1
Manipur             1
Name: Division, dtype: int64

In [47]:
zone_data_clean_india_frequent = zone_data_clean_india[~zone_data_clean_india.isin(infrequent_division_value_counts_india.index)]
zone_data_clean_india_frequent_sample = zone_data_clean_india_frequent.groupby('Division').apply(lambda x: x.sample(3)).droplevel(0)
zone_data_clean_india_frequent_sample

    Country        Division        Zone
89    India  Andhra_Pradesh     Nandyal
59    India  Andhra_Pradesh  Anakapalle
114   India  Andhra_Pradesh   Vinukonda
121   India           Assam   Dibrugarh
119   India           Assam  Bongaigaon
..      ...             ...         ...
871   India     Uttarakhand     Roorkee
869   India     Uttarakhand    Ramnagar
896   India     West_Bengal     Dhulian
908   India     West_Bengal    Islampur
944   India     West_Bengal  Shrirampur

[69 rows x 3 columns]

In [34]:
zone_data_clean_not_india

         Country        Division             Zone
0     Bangladesh         Barisal          Barisal
1     Bangladesh         Barisal            Bhola
2     Bangladesh         Barisal         Pirojpur
3     Bangladesh      Chittagong       Chittagong
4     Bangladesh      Chittagong          Comilla
...          ...             ...              ...
1007       Nepal  Western_Region           Butwal
1008       Nepal  Western_Region          Pokhara
1009       Nepal  Western_Region  Siddharthanagar
1010      Bhutan         Thimphu     Lungtenzampa
1011      Bhutan         Thimphu          Thimphu

[119 rows x 3 columns]

In [ ]:
test_sample_data = pd.concat((zone_data_clean_not_india, zone_data_clean_india_frequent_sample))
test_sample_data.to_csv('bd_and_neighbours_india_random.csv', index=False)

# Another Way of selection

In [13]:
india_states_selected = ['Uttar_Pradesh','West_Bengal','Madhya_Pradesh','Bihar',
                         'Telangana','Haryana','Odisha','Jharkhand','Assam',
                         'Chhattisgarh','NCT','Tripura']

In [19]:
zone_data_clean_india_final = zone_data_clean_india[zone_data_clean_india.Division.isin(india_states_selected)]
zone_data_clean_bangladesh_and_myanmar_final = zone_data_clean_not_india[zone_data_clean_not_india.Country.isin(["Bangladesh","Myanmar"])]
zone_data_clean_india_final

    Country     Division        Zone
119   India        Assam  Bongaigaon
120   India        Assam     Dhuburi
121   India        Assam   Dibrugarh
122   India        Assam       Diphu
123   India        Assam    Goalpara
..      ...          ...         ...
943   India  West_Bengal   Shiliguri
944   India  West_Bengal  Shrirampur
945   India  West_Bengal  Shyamnagar
946   India  West_Bengal       Siuri
947   India  West_Bengal    Titagarh

[403 rows x 3 columns]

## Finalizing Dataset

In [20]:
test_sample_data = pd.concat((zone_data_clean_india_final,zone_data_clean_bangladesh_and_myanmar_final))
test_sample_data

     Country     Division        Zone
119    India        Assam  Bongaigaon
120    India        Assam     Dhuburi
121    India        Assam   Dibrugarh
122    India        Assam       Diphu
123    India        Assam    Goalpara
..       ...          ...         ...
990  Myanmar  Tanintharyi       Myeik
991  Myanmar       Yangon       Kanbe
992  Myanmar       Yangon      Syriam
993  Myanmar       Yangon     Thongwa
994  Myanmar       Yangon      Yangon

[505 rows x 3 columns]

In [21]:
test_sample_data.to_csv('bd_and_neighbours.csv',index=False)

# File Validation

In [27]:
from paths import raw_data_path
from data_preparation import get_common_id
import os

In [24]:
raw_file_path = raw_data_path+get_common_id()
files = pd.Series(os.listdir(raw_file_path))

In [20]:
zones = files.str[:-4].str.replace('-',' ')
zones

0             Maubin
1           Myingyan
2               Agra
3           Adilabad
4      Jumri_Tilaiya
           ...
494         Lalitpur
495           Itarsi
496         Raniganj
497            Satna
498    Greater_Noida
Length: 499, dtype: object

In [34]:
zone_data[zone_data.Zone.isin(zones)]

     Country     Division        Zone
0      India        Assam  Bongaigaon
1      India        Assam     Dhuburi
2      India        Assam   Dibrugarh
3      India        Assam       Diphu
4      India        Assam    Goalpara
..       ...          ...         ...
500  Myanmar  Tanintharyi       Myeik
501  Myanmar       Yangon       Kanbe
502  Myanmar       Yangon      Syriam
503  Myanmar       Yangon     Thongwa
504  Myanmar       Yangon      Yangon

[503 rows x 3 columns]

In [47]:
zone_data[zone_data.Zone.duplicated(keep=False)]

        Country             Division       Zone
17        India                Bihar    Bangaon
33        India                Bihar   Jamalpur
64        India         Chhattisgarh     Raipur
74        India              Haryana  Gorakhpur
250       India        Uttar_Pradesh   Faridpur
261       India        Uttar_Pradesh  Gorakhpur
299       India        Uttar_Pradesh  Nawabganj
336       India          West_Bengal    Bangaon
414  Bangladesh           Chittagong     Raipur
421  Bangladesh                Dhaka   Faridpur
437  Bangladesh  Mymensingh_Division   Jamalpur
445  Bangladesh             Rajshahi  Nawabganj