# List all zones that fall under a country

In [1]:
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions
from selenium.webdriver.support.wait import WebDriverWait

from paths import berkeley_earth_dataset_url
from scrapers import prepare_firefox_driver
import pandas as pd
import numpy as np

zone_data = pd.DataFrame(columns=['Country','Division','Zone'])

countries = ["Bangladesh","India","Myanmar","Nepal","Bhutan"]

In [2]:
driver = prepare_firefox_driver()

In [6]:
country = countries[0]

In [3]:
berkeleyearth_data_url_country = berkeley_earth_dataset_url + country + "/"
driver.get(berkeleyearth_data_url_country)
links = driver.find_elements_by_tag_name("a")
divisions = [link.text for link in links if link.text.endswith("/")]
divisions

NameError: name 'country' is not defined

In [44]:
division = divisions[0]
berkeleyearth_data_url_country_area = berkeleyearth_data_url_country + division

driver.get(berkeleyearth_data_url_country_area)
links = driver.find_elements_by_tag_name("a")
candidate_zones = [link.text for link in links if link.text.endswith("txt")]
candidate_zones

['Barisal.txt', 'Bhola.txt', 'Pirojpur.txt']

In [46]:
zone = candidate_zones[0]

In [50]:
zone_data_length = len(zone_data)
zone_data.loc[zone_data_length] = [country,division[:-1],zone[:-4]]

In [51]:
zone_data

      Country Division     Zone
0  Bangladesh  Barisal  Barisal

In [49]:
[country,division[:-1],zone[:-4]]

['Bangladesh', 'Barisal', 'Barisal']

In [4]:
for country in countries[:2]:
    berkeleyearth_data_url_country = berkeley_earth_dataset_url + country + "/"
    driver.get(berkeleyearth_data_url_country)
    links = driver.find_elements_by_tag_name("a")
    divisions = [link.text for link in links if link.text.endswith("/")]

    for division in divisions:
        berkeleyearth_data_url_country_area = berkeleyearth_data_url_country + division

        driver.get(berkeleyearth_data_url_country_area)
        links = driver.find_elements_by_tag_name("a")
        candidate_zones = [link.text for link in links if link.text.endswith("txt")]

        for zone in candidate_zones:
            zone_data_length = len(zone_data)
            zone_data.loc[zone_data_length] = [country,division[:-1],zone[:-4]]

In [5]:
zone_data

        Country     Division         Zone
0    Bangladesh      Barisal      Barisal
1    Bangladesh      Barisal        Bhola
2    Bangladesh      Barisal     Pirojpur
3    Bangladesh   Chittagong   Chittagong
4    Bangladesh   Chittagong      Comilla
..          ...          ...          ...
944       India  West_Bengal   Shrirampur
945       India  West_Bengal   Shyamnagar
946       India  West_Bengal        Siuri
947       India  West_Bengal     Titagarh
948       India  West_Bengal  West_Bengal

[949 rows x 3 columns]

In [53]:
zone_data.to_csv('bd_and_neighbours_full.csv',index=False)

In [32]:
zone_data = pd.read_csv('bd_and_neighbours.csv')
zone_data

     Country     Division        Zone
0      India        Assam  Bongaigaon
1      India        Assam     Dhuburi
2      India        Assam   Dibrugarh
3      India        Assam       Diphu
4      India        Assam    Goalpara
..       ...          ...         ...
500  Myanmar  Tanintharyi       Myeik
501  Myanmar       Yangon       Kanbe
502  Myanmar       Yangon      Syriam
503  Myanmar       Yangon     Thongwa
504  Myanmar       Yangon      Yangon

[505 rows x 3 columns]

# Removing area general data to keep only zone specific data

In [9]:
zone_data[zone_data.Division==zone_data.Zone]

        Country                Division                    Zone
0    Bangladesh                 Barisal                 Barisal
3    Bangladesh              Chittagong              Chittagong
17   Bangladesh                   Dhaka                   Dhaka
30   Bangladesh                  Khulna                  Khulna
45   Bangladesh                Rajshahi                Rajshahi
55   Bangladesh                  Sylhet                  Sylhet
56        India     Andaman_and_Nicobar     Andaman_and_Nicobar
61        India          Andhra_Pradesh          Andhra_Pradesh
117       India       Arunachal_Pradesh       Arunachal_Pradesh
118       India                   Assam                   Assam
141       India                   Bihar                   Bihar
174       India              Chandigarh              Chandigarh
179       India            Chhattisgarh            Chhattisgarh
188       India  Dadra_and_Nagar_Haveli  Dadra_and_Nagar_Haveli
189       India           Daman_and_Diu           Daman_and_Diu
190       India                   Delhi                   Delhi
191       India                     Goa                     Goa
217       India                 Gujarat                 Gujarat
260       India                 Haryana                 Haryana
277       India        Himachal_Pradesh        Himachal_Pradesh
279       India       Jammu_and_Kashmir       Jammu_and_Kashmir
289       India               Jharkhand               Jharkhand
328       India               Karnataka               Karnataka
365       India                  Kerala                  Kerala
384       India             Lakshadweep             Lakshadweep
411       India          Madhya_Pradesh          Madhya_Pradesh
483       India             Maharashtra             Maharashtra
524       India                 Manipur                 Manipur
525       India               Meghalaya               Meghalaya
530       India                 Mizoram                 Mizoram
536       India                Nagaland                Nagaland
557       India                  Orissa                  Orissa
560       India              Puducherry              Puducherry
586       India                  Punjab                  Punjab
632       India               Rajasthan               Rajasthan
642       India                  Sikkim                  Sikkim
696       India              Tamil_Nadu              Tamil_Nadu
756       India                 Tripura                 Tripura
862       India           Uttar_Pradesh           Uttar_Pradesh
872       India             Uttaranchal             Uttaranchal
948       India             West_Bengal             West_Bengal

In [10]:
zone_data_clean = zone_data[(zone_data.Country!='India') | (zone_data.Division!=zone_data.Zone)]
zone_data_clean

        Country     Division        Zone
0    Bangladesh      Barisal     Barisal
1    Bangladesh      Barisal       Bhola
2    Bangladesh      Barisal    Pirojpur
3    Bangladesh   Chittagong  Chittagong
4    Bangladesh   Chittagong     Comilla
..          ...          ...         ...
943       India  West_Bengal   Shiliguri
944       India  West_Bengal  Shrirampur
945       India  West_Bengal  Shyamnagar
946       India  West_Bengal       Siuri
947       India  West_Bengal    Titagarh

[914 rows x 3 columns]

# India has around 900 stations over 29 areas so we sample 3 stations from each states while discarding states with stations in low numbers

In [11]:
zone_data_clean.Country.value_counts()

India         858
Bangladesh     56
Name: Country, dtype: int64

In [12]:
zone_data_clean_india = zone_data_clean[zone_data_clean.Country=='India']
zone_data_clean_not_india = zone_data_clean[zone_data_clean.Country!='India']
division_value_counts_india = zone_data_clean_india.Division.value_counts()
division_value_counts_india

Uttar_Pradesh       107
Maharashtra          86
West_Bengal          75
Tamil_Nadu           72
Andhra_Pradesh       59
Karnataka            55
Gujarat              53
Madhya_Pradesh       50
Rajasthan            48
Bihar                41
Telangana            39
Punjab               31
Haryana              27
Kerala               23
Odisha               19
Jharkhand            16
Assam                13
Chhattisgarh         12
Uttarakhand           7
Kashmir               7
Nagaland              3
Goa                   3
NCT                   3
Meghalaya             2
Pondicherry           2
Mizoram               2
Manipur               1
Tripura               1
Himachal_Pradesh      1
Name: Division, dtype: int64

# Selection Criteria

## Random Selection

In [ ]:
# zone_data_clean_india.groupby('Division').apply(lambda x: x.sample(frac=.1) if len(x)>10 else x)

In [ ]:
infrequent_division_value_counts_india = division_value_counts_india[division_value_counts_india<3]

In [20]:
infrequent_division_value_counts_india

Pondicherry         2
Mizoram             2
Meghalaya           2
Tripura             1
Himachal_Pradesh    1
Manipur             1
Name: Division, dtype: int64

In [47]:
zone_data_clean_india_frequent = zone_data_clean_india[~zone_data_clean_india.isin(infrequent_division_value_counts_india.index)]
zone_data_clean_india_frequent_sample = zone_data_clean_india_frequent.groupby('Division').apply(lambda x: x.sample(3)).droplevel(0)
zone_data_clean_india_frequent_sample

    Country        Division        Zone
89    India  Andhra_Pradesh     Nandyal
59    India  Andhra_Pradesh  Anakapalle
114   India  Andhra_Pradesh   Vinukonda
121   India           Assam   Dibrugarh
119   India           Assam  Bongaigaon
..      ...             ...         ...
871   India     Uttarakhand     Roorkee
869   India     Uttarakhand    Ramnagar
896   India     West_Bengal     Dhulian
908   India     West_Bengal    Islampur
944   India     West_Bengal  Shrirampur

[69 rows x 3 columns]

In [34]:
zone_data_clean_not_india

         Country        Division             Zone
0     Bangladesh         Barisal          Barisal
1     Bangladesh         Barisal            Bhola
2     Bangladesh         Barisal         Pirojpur
3     Bangladesh      Chittagong       Chittagong
4     Bangladesh      Chittagong          Comilla
...          ...             ...              ...
1007       Nepal  Western_Region           Butwal
1008       Nepal  Western_Region          Pokhara
1009       Nepal  Western_Region  Siddharthanagar
1010      Bhutan         Thimphu     Lungtenzampa
1011      Bhutan         Thimphu          Thimphu

[119 rows x 3 columns]

In [ ]:
test_sample_data = pd.concat((zone_data_clean_not_india, zone_data_clean_india_frequent_sample))
test_sample_data.to_csv('bd_and_neighbours_india_random.csv', index=False)

## Selection Based on the Northern Pollution Prone States of India

In [1]:
india_states_selected = ['Uttar_Pradesh','West_Bengal','Madhya_Pradesh','Bihar',
                         'Telangana','Haryana','Odisha','Jharkhand',
                         'Chhattisgarh','NCT']

In [2]:
zone_data_clean_india_final = zone_data_clean_india[zone_data_clean_india.Division.isin(india_states_selected)]
zone_data_clean_bangladesh_and_myanmar_final = zone_data_clean_not_india[zone_data_clean_not_india.Country.isin(["Bangladesh","Myanmar"])]
zone_data_clean_india_final

NameError: name 'zone_data_clean_india' is not defined

# Finalizing Dataset

In [15]:
test_sample_data = pd.concat((zone_data_clean_india_final,zone_data_clean_bangladesh_and_myanmar_final))
test_sample_data

        Country          Division           Zone
119       India             Assam     Bongaigaon
120       India             Assam        Dhuburi
121       India             Assam      Dibrugarh
122       India             Assam          Diphu
123       India             Assam       Goalpara
..          ...               ...            ...
51   Bangladesh  Rangpur_Division        Rangpur
52   Bangladesh  Rangpur_Division     Thakurgaon
53   Bangladesh            Sylhet       Habiganj
54   Bangladesh            Sylhet  Maulavi_Bazar
55   Bangladesh            Sylhet         Sylhet

[459 rows x 3 columns]

In [16]:
test_sample_data.to_csv('bd_and_neighbours.csv',index=False)

# File Validation

In [27]:
from paths import raw_data_path
from data_preparation import get_common_id
import os

In [24]:
raw_file_path = raw_data_path+get_common_id()
files = pd.Series(os.listdir(raw_file_path))

In [20]:
candidate_zones = files.str[:-4].str.replace('-', ' ')
candidate_zones

0             Maubin
1           Myingyan
2               Agra
3           Adilabad
4      Jumri_Tilaiya
           ...
494         Lalitpur
495           Itarsi
496         Raniganj
497            Satna
498    Greater_Noida
Length: 499, dtype: object

In [34]:
zone_data[zone_data.Zone.isin(candidate_zones)]

     Country     Division        Zone
0      India        Assam  Bongaigaon
1      India        Assam     Dhuburi
2      India        Assam   Dibrugarh
3      India        Assam       Diphu
4      India        Assam    Goalpara
..       ...          ...         ...
500  Myanmar  Tanintharyi       Myeik
501  Myanmar       Yangon       Kanbe
502  Myanmar       Yangon      Syriam
503  Myanmar       Yangon     Thongwa
504  Myanmar       Yangon      Yangon

[503 rows x 3 columns]

In [47]:
zone_data[zone_data.Zone.duplicated(keep=False)]

        Country             Division       Zone
17        India                Bihar    Bangaon
33        India                Bihar   Jamalpur
64        India         Chhattisgarh     Raipur
74        India              Haryana  Gorakhpur
250       India        Uttar_Pradesh   Faridpur
261       India        Uttar_Pradesh  Gorakhpur
299       India        Uttar_Pradesh  Nawabganj
336       India          West_Bengal    Bangaon
414  Bangladesh           Chittagong     Raipur
421  Bangladesh                Dhaka   Faridpur
437  Bangladesh  Mymensingh_Division   Jamalpur
445  Bangladesh             Rajshahi  Nawabganj

# Selecting files subset

In [47]:
import os
from paths import berkeley_earth_data

raw_path = berkeley_earth_data + 'raw/bd_and_neighbours'
all_zone = os.listdir(raw_path)
len(all_zone)

505

In [48]:
candidate_zones = list(test_sample_data.Division + '_' + test_sample_data.Zone + '.txt')
candidate_zones

['Assam_Bongaigaon.txt',
 'Assam_Dhuburi.txt',
 'Assam_Dibrugarh.txt',
 'Assam_Diphu.txt',
 'Assam_Goalpara.txt',
 'Assam_Guwahati.txt',
 'Assam_Jorhat.txt',
 'Assam_Karimganj.txt',
 'Assam_North_Lakhimpur.txt',
 'Assam_Sibsagar.txt',
 'Assam_Silchar.txt',
 'Assam_Tezpur.txt',
 'Assam_Tinsukia.txt',
 'Bihar_Araria.txt',
 'Bihar_Arrah.txt',
 'Bihar_Aurangabad.txt',
 'Bihar_Bagaha.txt',
 'Bihar_Bangaon.txt',
 'Bihar_Baruni.txt',
 'Bihar_Begusarai.txt',
 'Bihar_Bettiah.txt',
 'Bihar_Bhagalpur.txt',
 'Bihar_Bihar_Sharif.txt',
 'Bihar_Buxar.txt',
 'Bihar_Chapra.txt',
 'Bihar_Darbhanga.txt',
 'Bihar_Dehri.txt',
 'Bihar_Dinapore.txt',
 'Bihar_Dumraon.txt',
 'Bihar_Gaya.txt',
 'Bihar_Gopalganj.txt',
 'Bihar_Hajipur.txt',
 'Bihar_Jahanabad.txt',
 'Bihar_Jamalpur.txt',
 'Bihar_Jamui.txt',
 'Bihar_Katihar.txt',
 'Bihar_Khagaul.txt',
 'Bihar_Kishanganj.txt',
 'Bihar_Luckeesarai.txt',
 'Bihar_Madhipura.txt',
 'Bihar_Madhubani.txt',
 'Bihar_Masaurhi_Buzurg.txt',
 'Bihar_Mokameh.txt',
 'Bihar_Monghyr.txt',
 'Bihar_Mothihari.txt',
 'Bihar_Muzaffarpur.txt',
 'Bihar_Nawada.txt',
 'Bihar_Patna.txt',
 'Bihar_Purnia.txt',
 'Bihar_Saharsa.txt',
 'Bihar_Samastipur.txt',
 'Bihar_Sitamarhi.txt',
 'Bihar_Siwan.txt',
 'Bihar_Supaul.txt',
 'Chhattisgarh_Ambikapur.txt',
 'Chhattisgarh_Bhatapara.txt',
 'Chhattisgarh_Bhilai.txt',
 'Chhattisgarh_Bilaspur.txt',
 'Chhattisgarh_Dhamtari.txt',
 'Chhattisgarh_Durg.txt',
 'Chhattisgarh_Jagdalpur.txt',
 'Chhattisgarh_Korba.txt',
 'Chhattisgarh_Mahasamund.txt',
 'Chhattisgarh_Raigarh.txt',
 'Chhattisgarh_Raipur.txt',
 'Chhattisgarh_Raj-Nandgaon.txt',
 'Haryana_Ambala.txt',
 'Haryana_Bahadurgarh.txt',
 'Haryana_Bhiwani.txt',
 'Haryana_Charkhi_Dadri.txt',
 'Haryana_Dabwali.txt',
 'Haryana_Faridabad.txt',
 'Haryana_Fatehabad.txt',
 'Haryana_Gohana.txt',
 'Haryana_Gorakhpur.txt',
 'Haryana_Gurgaon.txt',
 'Haryana_Hansi.txt',
 'Haryana_Hisar.txt',
 'Haryana_Jagadhri.txt',
 'Haryana_Jind.txt',
 'Haryana_Kaithal.txt',
 'Haryana_Karnal.txt',
 'Haryana_Narnaul.txt',
 'Haryana_Narwana.txt',
 'Haryana_Palwal.txt',
 'Haryana_Panipat.txt',
 'Haryana_Rewari.txt',
 'Haryana_Rohtak.txt',
 'Haryana_Sirsa.txt',
 'Haryana_Sonipat.txt',
 'Haryana_Thanesar.txt',
 'Haryana_Tohana.txt',
 'Haryana_Yamunanagar.txt',
 'Jharkhand_Bokaro.txt',
 'Jharkhand_Chaibasa.txt',
 'Jharkhand_Chas.txt',
 'Jharkhand_Daltonganj.txt',
 'Jharkhand_Dhanbad.txt',
 'Jharkhand_Giridih.txt',
 'Jharkhand_Hazaribag.txt',
 'Jharkhand_Jamshedpur.txt',
 'Jharkhand_Jharia.txt',
 'Jharkhand_Jumri_Tilaiya.txt',
 'Jharkhand_Katras.txt',
 'Jharkhand_Lohardaga.txt',
 'Jharkhand_Madhupur.txt',
 'Jharkhand_Ramgarh.txt',
 'Jharkhand_Ranchi.txt',
 'Jharkhand_Sahibganj.txt',
 'Madhya_Pradesh_Ashoknagar.txt',
 'Madhya_Pradesh_Balaghat.txt',
 'Madhya_Pradesh_Basoda.txt',
 'Madhya_Pradesh_Betul.txt',
 'Madhya_Pradesh_Bhind.txt',
 'Madhya_Pradesh_Bhopal.txt',
 'Madhya_Pradesh_Burhanpur.txt',
 'Madhya_Pradesh_Chhatarpur.txt',
 'Madhya_Pradesh_Chhindwara.txt',
 'Madhya_Pradesh_Dabra.txt',
 'Madhya_Pradesh_Damoh.txt',
 'Madhya_Pradesh_Datia.txt',
 'Madhya_Pradesh_Dewas.txt',
 'Madhya_Pradesh_Dhar.txt',
 'Madhya_Pradesh_Etawa.txt',
 'Madhya_Pradesh_Gohadi.txt',
 'Madhya_Pradesh_Guna.txt',
 'Madhya_Pradesh_Gwalior.txt',
 'Madhya_Pradesh_Harda_Khas.txt',
 'Madhya_Pradesh_Hoshangabad.txt',
 'Madhya_Pradesh_Indore.txt',
 'Madhya_Pradesh_Itarsi.txt',
 'Madhya_Pradesh_Jabalpur.txt',
 'Madhya_Pradesh_Jaora.txt',
 'Madhya_Pradesh_Khandwa.txt',
 'Madhya_Pradesh_Khargone.txt',
 'Madhya_Pradesh_Mandsaur.txt',
 'Madhya_Pradesh_Mandu.txt',
 'Madhya_Pradesh_Morena.txt',
 'Madhya_Pradesh_Murwara.txt',
 'Madhya_Pradesh_Nagda.txt',
 'Madhya_Pradesh_Pithampur.txt',
 'Madhya_Pradesh_Punasa.txt',
 'Madhya_Pradesh_Raghogarh.txt',
 'Madhya_Pradesh_Ratlam.txt',
 'Madhya_Pradesh_Rewa.txt',
 'Madhya_Pradesh_Satna.txt',
 'Madhya_Pradesh_Saugor.txt',
 'Madhya_Pradesh_Sehore.txt',
 'Madhya_Pradesh_Sendhwa.txt',
 'Madhya_Pradesh_Seoni.txt',
 'Madhya_Pradesh_Shahdol.txt',
 'Madhya_Pradesh_Shajapur.txt',
 'Madhya_Pradesh_Sheopur.txt',
 'Madhya_Pradesh_Shivpuri.txt',
 'Madhya_Pradesh_Sidhi.txt',
 'Madhya_Pradesh_Singrauli.txt',
 'Madhya_Pradesh_Tikamgarh.txt',
 'Madhya_Pradesh_Ujjain.txt',
 'Madhya_Pradesh_Vidisha.txt',
 'NCT_Delhi.txt',
 'NCT_Nangloi_Jat.txt',
 'NCT_New_Delhi.txt',
 'Odisha_Bada_Barabil.txt',
 'Odisha_Balangir.txt',
 'Odisha_Balasore.txt',
 'Odisha_Barbil.txt',
 'Odisha_Bargarh.txt',
 'Odisha_Bhadrakh.txt',
 'Odisha_Bhawanipatna.txt',
 'Odisha_Bhubaneshwar.txt',
 'Odisha_Brahmapur.txt',
 'Odisha_Brajarajnagar.txt',
 'Odisha_Cuttack.txt',
 'Odisha_Dhenkanal.txt',
 'Odisha_Jatani.txt',
 'Odisha_Jeypore.txt',
 'Odisha_Jharsuguda.txt',
 'Odisha_Nowrangapur.txt',
 'Odisha_Paradip_Garh.txt',
 'Odisha_Puri.txt',
 'Odisha_Sambalpur.txt',
 'Telangana_Adilabad.txt',
 'Telangana_Bellampalli.txt',
 'Telangana_Bhongir.txt',
 'Telangana_Bodhan.txt',
 'Telangana_Gaddi_Annaram.txt',
 'Telangana_Gadwal.txt',
 'Telangana_Hyderabad.txt',
 'Telangana_Jagtial.txt',
 'Telangana_Kamareddi.txt',
 'Telangana_Karimnagar.txt',
 'Telangana_Khammam.txt',
 'Telangana_Kodar.txt',
 'Telangana_Koratla.txt',
 'Telangana_Kottagudem.txt',
 'Telangana_Kukatpalli.txt',
 'Telangana_Lal_Bahadur_Nagar.txt',
 'Telangana_Mahbubnagar.txt',
 'Telangana_Malkajgiri.txt',
 'Telangana_Mancheral.txt',
 'Telangana_Mandamarri.txt',
 'Telangana_Mirialguda.txt',
 'Telangana_Nalgonda.txt',
 'Telangana_Nirmal.txt',
 'Telangana_Nizamabad.txt',
 'Telangana_Paloncha.txt',
 'Telangana_Palwancha.txt',
 'Telangana_Quthbullapur.txt',
 'Telangana_Ramagundam.txt',
 'Telangana_Ramgundam.txt',
 'Telangana_Sangareddi.txt',
 'Telangana_Secunderabad.txt',
 'Telangana_Serilingampalle.txt',
 'Telangana_Siddipet.txt',
 'Telangana_Sirsilla.txt',
 'Telangana_Suriapet.txt',
 'Telangana_Tandur.txt',
 'Telangana_Uppal_Kalan.txt',
 'Telangana_Wanparti.txt',
 'Telangana_Warangal.txt',
 'Tripura_Agartala.txt',
 'Uttar_Pradesh_Agra.txt',
 'Uttar_Pradesh_Ajodhya.txt',
 'Uttar_Pradesh_Aligarh.txt',
 'Uttar_Pradesh_Allahabad.txt',
 'Uttar_Pradesh_Amroha.txt',
 'Uttar_Pradesh_Aonla.txt',
 'Uttar_Pradesh_Auraiya.txt',
 'Uttar_Pradesh_Azamgarh.txt',
 'Uttar_Pradesh_Baheri.txt',
 'Uttar_Pradesh_Bahraigh.txt',
 'Uttar_Pradesh_Balrampur.txt',
 'Uttar_Pradesh_Banda.txt',
 'Uttar_Pradesh_Baraut.txt',
 'Uttar_Pradesh_Bareilly.txt',
 'Uttar_Pradesh_Basti.txt',
 'Uttar_Pradesh_Bela.txt',
 'Uttar_Pradesh_Bhadohi.txt',
 'Uttar_Pradesh_Bijnor.txt',
 'Uttar_Pradesh_Bisalpur.txt',
 'Uttar_Pradesh_Biswan.txt',
 'Uttar_Pradesh_Budaun.txt',
 'Uttar_Pradesh_Bulandshahr.txt',
 'Uttar_Pradesh_Chandpur.txt',
 'Uttar_Pradesh_Chanduasi.txt',
 'Uttar_Pradesh_Chhibramau.txt',
 'Uttar_Pradesh_Dadri.txt',
 'Uttar_Pradesh_Deoband.txt',
 'Uttar_Pradesh_Deoria.txt',
 'Uttar_Pradesh_Etawah.txt',
 'Uttar_Pradesh_Faridpur.txt',
 'Uttar_Pradesh_Farrukhabad.txt',
 'Uttar_Pradesh_Fatehpur.txt',
 'Uttar_Pradesh_Firozabad.txt',
 'Uttar_Pradesh_Fyzabad.txt',
 'Uttar_Pradesh_Gajraula.txt',
 'Uttar_Pradesh_Gangoh.txt',
 'Uttar_Pradesh_Ghaziabad.txt',
 'Uttar_Pradesh_Ghazipur.txt',
 'Uttar_Pradesh_Gola_Gokarannath.txt',
 'Uttar_Pradesh_Gonda_City.txt',
 'Uttar_Pradesh_Gorakhpur.txt',
 'Uttar_Pradesh_Greater_Noida.txt',
 'Uttar_Pradesh_Hapur.txt',
 'Uttar_Pradesh_Hardoi.txt',
 'Uttar_Pradesh_Hasanpur.txt',
 'Uttar_Pradesh_Hathras.txt',
 'Uttar_Pradesh_Jahangirabad.txt',
 'Uttar_Pradesh_Jalaun.txt',
 'Uttar_Pradesh_Jaunpur.txt',
 'Uttar_Pradesh_Jhansi.txt',
 'Uttar_Pradesh_Kairana.txt',
 'Uttar_Pradesh_Kannauj.txt',
 'Uttar_Pradesh_Kanpur.txt',
 'Uttar_Pradesh_Kasganj.txt',
 'Uttar_Pradesh_Khatauli.txt',
 'Uttar_Pradesh_Khurja.txt',
 'Uttar_Pradesh_Kiratpur.txt',
 'Uttar_Pradesh_Konch.txt',
 'Uttar_Pradesh_Kosi.txt',
 'Uttar_Pradesh_Laharpur.txt',
 'Uttar_Pradesh_Lakhimpur.txt',
 'Uttar_Pradesh_Lalitpur.txt',
 'Uttar_Pradesh_Loni.txt',
 'Uttar_Pradesh_Lucknow.txt',
 'Uttar_Pradesh_Mahoba.txt',
 'Uttar_Pradesh_Mainpuri.txt',
 'Uttar_Pradesh_Mathura.txt',
 'Uttar_Pradesh_Mau.txt',
 'Uttar_Pradesh_Mawana.txt',
 'Uttar_Pradesh_Meerut.txt',
 'Uttar_Pradesh_Mirzapur.txt',
 'Uttar_Pradesh_Moradabad.txt',
 'Uttar_Pradesh_Mubarakpur.txt',
 'Uttar_Pradesh_Mughal_Sarai.txt',
 'Uttar_Pradesh_Muradnagar.txt',
 'Uttar_Pradesh_Muzaffarnagar.txt',
 'Uttar_Pradesh_Nagina.txt',
 'Uttar_Pradesh_Najibabad.txt',
 'Uttar_Pradesh_Nawabganj.txt',
 'Uttar_Pradesh_Noida.txt',
 'Uttar_Pradesh_Obra.txt',
 'Uttar_Pradesh_Orai.txt',
 'Uttar_Pradesh_Pilibhit.txt',
 'Uttar_Pradesh_Pilkhua.txt',
 'Uttar_Pradesh_Raebareli.txt',
 'Uttar_Pradesh_Rampur.txt',
 'Uttar_Pradesh_Rath.txt',
 'Uttar_Pradesh_Renukut.txt',
 'Uttar_Pradesh_Saharanpur.txt',
 'Uttar_Pradesh_Sahaswan.txt',
 'Uttar_Pradesh_Sambhal.txt',
 'Uttar_Pradesh_Sandila.txt',
 'Uttar_Pradesh_Shahabad.txt',
 'Uttar_Pradesh_Shahjanpur.txt',
 'Uttar_Pradesh_Shamli.txt',
 'Uttar_Pradesh_Sherkot.txt',
 'Uttar_Pradesh_Shikohabad.txt',
 'Uttar_Pradesh_Sikandarabad.txt',
 'Uttar_Pradesh_Sitapur.txt',
 'Uttar_Pradesh_Sultanpur.txt',
 'Uttar_Pradesh_Tanda.txt',
 'Uttar_Pradesh_Tilhar.txt',
 'Uttar_Pradesh_Tundla.txt',
 'Uttar_Pradesh_Ujhani.txt',
 'Uttar_Pradesh_Unnao.txt',
 'Uttar_Pradesh_Varanasi.txt',
 'Uttar_Pradesh_Vrindavan.txt',
 'West_Bengal_Arambagh.txt',
 'West_Bengal_Asansol.txt',
 'West_Bengal_Ashoknagar_Kalyangarh.txt',
 'West_Bengal_Baharampur.txt',
 'West_Bengal_Baidyabati.txt',
 'West_Bengal_Baj_Baj.txt',
 'West_Bengal_Bali.txt',
 'West_Bengal_Balurghat.txt',
 'West_Bengal_Bangaon.txt',
 'West_Bengal_Bankra.txt',
 'West_Bengal_Bankura.txt',
 'West_Bengal_Bansbaria.txt',
 'West_Bengal_Barakpur.txt',
 'West_Bengal_Barasat.txt',
 'West_Bengal_Barddhaman.txt',
 'West_Bengal_Bhadreswar.txt',
 'West_Bengal_Bhatpara.txt',
 'West_Bengal_Bishnupur.txt',
 'West_Bengal_Bolpur.txt',
 'West_Bengal_Chandannagar.txt',
 'West_Bengal_Contai.txt',
 'West_Bengal_Dam_Dam.txt',
 'West_Bengal_Darjiling.txt',
 'West_Bengal_Dhulian.txt',
 'West_Bengal_Durgapur.txt',
 'West_Bengal_Gangarampur.txt',
 'West_Bengal_Ghatal.txt',
 'West_Bengal_Gosaba.txt',
 'West_Bengal_Goyerkata.txt',
 'West_Bengal_Habra.txt',
 'West_Bengal_Haldia.txt',
 'West_Bengal_Halisahar.txt',
 'West_Bengal_Haora.txt',
 'West_Bengal_Hugli.txt',
 'West_Bengal_Ingraj_Bazar.txt',
 'West_Bengal_Islampur.txt',
 'West_Bengal_Jaigaon.txt',
 'West_Bengal_Jalpaiguri.txt',
 'West_Bengal_Jamuria.txt',
 'West_Bengal_Jangipur.txt',
 'West_Bengal_Jhargram.txt',
 'West_Bengal_Kaliyaganj.txt',
 'West_Bengal_Kalna.txt',
 'West_Bengal_Kalyani.txt',
 'West_Bengal_Kamarhati.txt',
 'West_Bengal_Kanchrapara.txt',
 'West_Bengal_Kandi.txt',
 'West_Bengal_Katoya.txt',
 'West_Bengal_Kharagpur.txt',
 'West_Bengal_Khardah.txt',
 'West_Bengal_Koch_Bihar.txt',
 'West_Bengal_Kolkata.txt',
 'West_Bengal_Konnagar.txt',
 'West_Bengal_Krishnanagar.txt',
 'West_Bengal_Kultali.txt',
 'West_Bengal_Kulti.txt',
 'West_Bengal_Madhyamgram.txt',
 'West_Bengal_Medinipur.txt',
 'West_Bengal_Naihati.txt',
 'West_Bengal_Naksalbari.txt',
 'West_Bengal_Nangi.txt',
 'West_Bengal_Navadwip.txt',
 'West_Bengal_Panihati.txt',
 'West_Bengal_Puruliya.txt',
 'West_Bengal_Raiganj.txt',
 'West_Bengal_Rampur_Hat.txt',
 'West_Bengal_Ranaghat.txt',
 'West_Bengal_Raniganj.txt',
 'West_Bengal_Rishra.txt',
 'West_Bengal_Shantipur.txt',
 'West_Bengal_Shiliguri.txt',
 'West_Bengal_Shrirampur.txt',
 'West_Bengal_Shyamnagar.txt',
 'West_Bengal_Siuri.txt',
 'West_Bengal_Titagarh.txt',
 'Barisal_Barisal.txt',
 'Barisal_Bhola.txt',
 'Barisal_Pirojpur.txt',
 'Chittagong_Chittagong.txt',
 'Chittagong_Comilla.txt',
 "Chittagong_Cox's_Bazar.txt",
 'Chittagong_Feni.txt',
 'Chittagong_Khagrachhari.txt',
 'Chittagong_Laksham.txt',
 'Chittagong_Lakshmipur.txt',
 'Chittagong_Patiya.txt',
 'Chittagong_Raipur.txt',
 'Chittagong_Ramganj.txt',
 'Chittagong_Sandwip.txt',
 'Chittagong_Satkania.txt',
 'Dhaka_Azimpur.txt',
 'Dhaka_Bhairab_Bazar.txt',
 'Dhaka_Dhaka.txt',
 'Dhaka_Faridpur.txt',
 'Dhaka_Kishorganj.txt',
 'Dhaka_Madaripur.txt',
 'Dhaka_Nagarpur.txt',
 'Dhaka_Narayanganj.txt',
 'Dhaka_Narsingdi.txt',
 'Dhaka_Palang.txt',
 'Dhaka_Paltan.txt',
 'Dhaka_Tangail.txt',
 'Dhaka_Tungi.txt',
 'Dhaka_Tungipara.txt',
 'Khulna_Jessore.txt',
 'Khulna_Khulna.txt',
 'Khulna_Kushtia.txt',
 'Khulna_Narail.txt',
 'Khulna_Satkhira.txt',
 'Mymensingh_Division_Jamalpur.txt',
 'Mymensingh_Division_Mymensingh.txt',
 'Mymensingh_Division_Netrakona.txt',
 'Mymensingh_Division_Sarishabari.txt',
 'Mymensingh_Division_Sherpur.txt',
 'Rajshahi_Bogra.txt',
 'Rajshahi_Ishurdi.txt',
 'Rajshahi_Joypur_Hat.txt',
 'Rajshahi_Nawabganj.txt',
 'Rajshahi_Pabna.txt',
 'Rajshahi_Par_Naogaon.txt',
 'Rajshahi_Rajshahi.txt',
 'Rajshahi_Saidpur.txt',
 'Rajshahi_Shahzadpur.txt',
 'Rajshahi_Sirajganj.txt',
 'Rangpur_Division_Dinajpur.txt',
 'Rangpur_Division_Lalmanirhat.txt',
 'Rangpur_Division_Rangpur.txt',
 'Rangpur_Division_Thakurgaon.txt',
 'Sylhet_Habiganj.txt',
 'Sylhet_Maulavi_Bazar.txt',
 'Sylhet_Sylhet.txt']

In [49]:
del_zones = [del_zone for del_zone in all_zone if not del_zone in candidate_zones]
del_zones

['Ayeyarwady_Kyaiklat.txt',
 'Yangon_Thongwa.txt',
 'Magway_Taungdwingyi.txt',
 'Tanintharyi_Myeik.txt',
 'Magway_Minbu.txt',
 'Mandalay_Meiktila.txt',
 'Shan_Lashio.txt',
 'Magway_Thayetmyo.txt',
 'Magway_Yenangyaung.txt',
 'Kayin_Hpa-an.txt',
 'Bago_Tharyarwady.txt',
 'Sagain_Monywa.txt',
 'Bago_Bago.txt',
 'Sagain_Sagaing.txt',
 'Shan_Taunggyi.txt',
 'Kachin_Myitkyina.txt',
 'Mandalay_Mogok.txt',
 'Shan_Tachilek.txt',
 'Ayeyarwady_Pathein.txt',
 'Mon_Mawlamyine.txt',
 'Magway_Chauk.txt',
 'Rakhine_Sittwe.txt',
 'Mandalay_Myingyan.txt',
 'Ayeyarwady_Maubin.txt',
 'Mandalay_Yamethin.txt',
 'Yangon_Kanbe.txt',
 'Yangon_Syriam.txt',
 'Tanintharyi_Dawei.txt',
 'Ayeyarwady_Bogale.txt',
 'Magway_Myaydo.txt',
 'Sagain_Shwebo.txt',
 'Mon_Thaton.txt',
 'Yangon_Yangon.txt',
 'Magway_Magway.txt',
 'Nay_Pyi_Taw_Nay_Pyi_Taw.txt',
 'Mandalay_Kyaukse.txt',
 'Ayeyarwady_Pyapon.txt',
 'Bago_Nyaunglebin.txt',
 'Nay_Pyi_Taw_Pyinmana.txt',
 'Mandalay_Mandalay.txt',
 'Mandalay_Pyin_Oo_Lwin.txt',
 'Magway_Pakokku.txt',
 'Bago_Pyay.txt',
 'Bago_Taungoo.txt',
 'Mon_Mudon.txt',
 'Ayeyarwady_Hinthada.txt']

In [58]:
for del_zone in del_zones:
    del_zone_path = raw_path+'/'+del_zone
    print(del_zone_path)
    # os.remove(del_zone_path)

/home/asif/Data/Dataset/AQ Dataset/Berkeley Earth Data/raw/bd_and_neighbours/Ayeyarwady_Kyaiklat.txt
/home/asif/Data/Dataset/AQ Dataset/Berkeley Earth Data/raw/bd_and_neighbours/Yangon_Thongwa.txt
/home/asif/Data/Dataset/AQ Dataset/Berkeley Earth Data/raw/bd_and_neighbours/Magway_Taungdwingyi.txt
/home/asif/Data/Dataset/AQ Dataset/Berkeley Earth Data/raw/bd_and_neighbours/Tanintharyi_Myeik.txt
/home/asif/Data/Dataset/AQ Dataset/Berkeley Earth Data/raw/bd_and_neighbours/Magway_Minbu.txt
/home/asif/Data/Dataset/AQ Dataset/Berkeley Earth Data/raw/bd_and_neighbours/Mandalay_Meiktila.txt
/home/asif/Data/Dataset/AQ Dataset/Berkeley Earth Data/raw/bd_and_neighbours/Shan_Lashio.txt
/home/asif/Data/Dataset/AQ Dataset/Berkeley Earth Data/raw/bd_and_neighbours/Magway_Thayetmyo.txt
/home/asif/Data/Dataset/AQ Dataset/Berkeley Earth Data/raw/bd_and_neighbours/Magway_Yenangyaung.txt
/home/asif/Data/Dataset/AQ Dataset/Berkeley Earth Data/raw/bd_and_neighbours/Kayin_Hpa-an.txt
/home/asif/Data/Dataset/AQ Dataset/Berkeley Earth Data/raw/bd_and_neighbours/Bago_Tharyarwady.txt
/home/asif/Data/Dataset/AQ Dataset/Berkeley Earth Data/raw/bd_and_neighbours/Sagain_Monywa.txt
/home/asif/Data/Dataset/AQ Dataset/Berkeley Earth Data/raw/bd_and_neighbours/Bago_Bago.txt
/home/asif/Data/Dataset/AQ Dataset/Berkeley Earth Data/raw/bd_and_neighbours/Sagain_Sagaing.txt
/home/asif/Data/Dataset/AQ Dataset/Berkeley Earth Data/raw/bd_and_neighbours/Shan_Taunggyi.txt
/home/asif/Data/Dataset/AQ Dataset/Berkeley Earth Data/raw/bd_and_neighbours/Kachin_Myitkyina.txt
/home/asif/Data/Dataset/AQ Dataset/Berkeley Earth Data/raw/bd_and_neighbours/Mandalay_Mogok.txt
/home/asif/Data/Dataset/AQ Dataset/Berkeley Earth Data/raw/bd_and_neighbours/Shan_Tachilek.txt
/home/asif/Data/Dataset/AQ Dataset/Berkeley Earth Data/raw/bd_and_neighbours/Ayeyarwady_Pathein.txt
/home/asif/Data/Dataset/AQ Dataset/Berkeley Earth Data/raw/bd_and_neighbours/Mon_Mawlamyine.txt
/home/asif/Data/Dataset/AQ Dataset/Berkeley Earth Data/raw/bd_and_neighbours/Magway_Chauk.txt
/home/asif/Data/Dataset/AQ Dataset/Berkeley Earth Data/raw/bd_and_neighbours/Rakhine_Sittwe.txt
/home/asif/Data/Dataset/AQ Dataset/Berkeley Earth Data/raw/bd_and_neighbours/Mandalay_Myingyan.txt
/home/asif/Data/Dataset/AQ Dataset/Berkeley Earth Data/raw/bd_and_neighbours/Ayeyarwady_Maubin.txt
/home/asif/Data/Dataset/AQ Dataset/Berkeley Earth Data/raw/bd_and_neighbours/Mandalay_Yamethin.txt
/home/asif/Data/Dataset/AQ Dataset/Berkeley Earth Data/raw/bd_and_neighbours/Yangon_Kanbe.txt
/home/asif/Data/Dataset/AQ Dataset/Berkeley Earth Data/raw/bd_and_neighbours/Yangon_Syriam.txt
/home/asif/Data/Dataset/AQ Dataset/Berkeley Earth Data/raw/bd_and_neighbours/Tanintharyi_Dawei.txt
/home/asif/Data/Dataset/AQ Dataset/Berkeley Earth Data/raw/bd_and_neighbours/Ayeyarwady_Bogale.txt
/home/asif/Data/Dataset/AQ Dataset/Berkeley Earth Data/raw/bd_and_neighbours/Magway_Myaydo.txt
/home/asif/Data/Dataset/AQ Dataset/Berkeley Earth Data/raw/bd_and_neighbours/Sagain_Shwebo.txt
/home/asif/Data/Dataset/AQ Dataset/Berkeley Earth Data/raw/bd_and_neighbours/Mon_Thaton.txt
/home/asif/Data/Dataset/AQ Dataset/Berkeley Earth Data/raw/bd_and_neighbours/Yangon_Yangon.txt
/home/asif/Data/Dataset/AQ Dataset/Berkeley Earth Data/raw/bd_and_neighbours/Magway_Magway.txt
/home/asif/Data/Dataset/AQ Dataset/Berkeley Earth Data/raw/bd_and_neighbours/Nay_Pyi_Taw_Nay_Pyi_Taw.txt
/home/asif/Data/Dataset/AQ Dataset/Berkeley Earth Data/raw/bd_and_neighbours/Mandalay_Kyaukse.txt
/home/asif/Data/Dataset/AQ Dataset/Berkeley Earth Data/raw/bd_and_neighbours/Ayeyarwady_Pyapon.txt
/home/asif/Data/Dataset/AQ Dataset/Berkeley Earth Data/raw/bd_and_neighbours/Bago_Nyaunglebin.txt
/home/asif/Data/Dataset/AQ Dataset/Berkeley Earth Data/raw/bd_and_neighbours/Nay_Pyi_Taw_Pyinmana.txt
/home/asif/Data/Dataset/AQ Dataset/Berkeley Earth Data/raw/bd_and_neighbours/Mandalay_Mandalay.txt
/home/asif/Data/Dataset/AQ Dataset/Berkeley Earth Data/raw/bd_and_neighbours/Mandalay_Pyin_Oo_Lwin.txt
/home/asif/Data/Dataset/AQ Dataset/Berkeley Earth Data/raw/bd_and_neighbours/Magway_Pakokku.txt
/home/asif/Data/Dataset/AQ Dataset/Berkeley Earth Data/raw/bd_and_neighbours/Bago_Pyay.txt
/home/asif/Data/Dataset/AQ Dataset/Berkeley Earth Data/raw/bd_and_neighbours/Bago_Taungoo.txt
/home/asif/Data/Dataset/AQ Dataset/Berkeley Earth Data/raw/bd_and_neighbours/Mon_Mudon.txt
/home/asif/Data/Dataset/AQ Dataset/Berkeley Earth Data/raw/bd_and_neighbours/Ayeyarwady_Hinthada.txt

# Collecting URLs for Western States of USA

In [9]:
us_states = ["Washington","Oregon","California","Idaho","Nevada","Montana","Wyoming","Utah","Arizona","Colorado","New_Mexico","Texas"]
country = 'United_States'

In [10]:
berkeleyearth_data_url_country = berkeley_earth_dataset_url + country + "/"
driver.get(berkeleyearth_data_url_country)

In [11]:
division = us_states[0]
berkeleyearth_data_url_country_area = berkeleyearth_data_url_country + division

driver.get(berkeleyearth_data_url_country_area)
links = driver.find_elements_by_tag_name("a")
candidate_zones = [link.text for link in links if link.text.endswith("txt")]
candidate_zones

['Auburn.txt',
 'Bellevue.txt',
 'Bellingham.txt',
 'Burien.txt',
 'Everett.txt',
 'Federal_Way.txt',
 'Kennewick.txt',
 'Kent.txt',
 'Kirkland.txt',
 'Lakewood.txt',
 'Marysville.txt',
 'Olympia.txt',
 'Pasco.txt',
 'Redmond.txt',
 'Renton.txt',
 'Richland.txt',
 'Sammamish.txt',
 'Seattle.txt',
 'Shoreline.txt',
 'South_Hill.txt',
 'Spokane.txt',
 'Spokane_Valley.txt',
 'Tacoma.txt',
 'Vancouver.txt',
 'Washington.txt',
 'Yakima.txt']

In [12]:
for division in us_states[:]:
    berkeleyearth_data_url_country_area = berkeleyearth_data_url_country + division

    driver.get(berkeleyearth_data_url_country_area)
    links = driver.find_elements_by_tag_name("a")
    candidate_zones = [link.text for link in links if link.text.endswith("txt")]

    for zone in candidate_zones:
        zone_data_length = len(zone_data)
        print([country,division[:],zone[:-4]])
        zone_data.loc[zone_data_length] = [country,division[:],zone[:-4]]

['United_States', 'Washington', 'Auburn']
['United_States', 'Washington', 'Bellevue']
['United_States', 'Washington', 'Bellingham']
['United_States', 'Washington', 'Burien']
['United_States', 'Washington', 'Everett']
['United_States', 'Washington', 'Federal_Way']
['United_States', 'Washington', 'Kennewick']
['United_States', 'Washington', 'Kent']
['United_States', 'Washington', 'Kirkland']
['United_States', 'Washington', 'Lakewood']
['United_States', 'Washington', 'Marysville']
['United_States', 'Washington', 'Olympia']
['United_States', 'Washington', 'Pasco']
['United_States', 'Washington', 'Redmond']
['United_States', 'Washington', 'Renton']
['United_States', 'Washington', 'Richland']
['United_States', 'Washington', 'Sammamish']
['United_States', 'Washington', 'Seattle']
['United_States', 'Washington', 'Shoreline']
['United_States', 'Washington', 'South_Hill']
['United_States', 'Washington', 'Spokane']
['United_States', 'Washington', 'Spokane_Valley']
['United_States', 'Washington', 'Tacoma']
['United_States', 'Washington', 'Vancouver']
['United_States', 'Washington', 'Washington']
['United_States', 'Washington', 'Yakima']
['United_States', 'Oregon', 'Albany']
['United_States', 'Oregon', 'Beaverton']
['United_States', 'Oregon', 'Bend']
['United_States', 'Oregon', 'Corvallis']
['United_States', 'Oregon', 'Eugene']
['United_States', 'Oregon', 'Gresham']
['United_States', 'Oregon', 'Hillsboro']
['United_States', 'Oregon', 'Medford']
['United_States', 'Oregon', 'Oregon']
['United_States', 'Oregon', 'Portland']
['United_States', 'Oregon', 'Salem']
['United_States', 'Oregon', 'Springfield']
['United_States', 'Oregon', 'Tigard']
['United_States', 'California', 'Alameda']
['United_States', 'California', 'Alhambra']
['United_States', 'California', 'Aliso_Viejo']
['United_States', 'California', 'Anaheim']
['United_States', 'California', 'Antioch']
['United_States', 'California', 'Apple_Valley']
['United_States', 'California', 'Arcadia']
['United_States', 'California', 'Arden-Arcade']
['United_States', 'California', 'Bakersfield']
['United_States', 'California', 'Baldwin_Park']
['United_States', 'California', 'Bellflower']
['United_States', 'California', 'Berkeley']
['United_States', 'California', 'Boyle_Heights']
['United_States', 'California', 'Brentwood']
['United_States', 'California', 'Buena_Park']
['United_States', 'California', 'Burbank']
['United_States', 'California', 'California']
['United_States', 'California', 'Camarillo']
['United_States', 'California', 'Canoga_Park']
['United_States', 'California', 'Carlsbad']
['United_States', 'California', 'Carmichael']
['United_States', 'California', 'Carson']
['United_States', 'California', 'Castro_Valley']
['United_States', 'California', 'Cathedral_City']
['United_States', 'California', 'Chico']
['United_States', 'California', 'Chino']
['United_States', 'California', 'Chino_Hills']
['United_States', 'California', 'Chula_Vista']
['United_States', 'California', 'Citrus_Heights']
['United_States', 'California', 'Clovis']
['United_States', 'California', 'Colton']
['United_States', 'California', 'Compton']
['United_States', 'California', 'Concord']
['United_States', 'California', 'Corona']
['United_States', 'California', 'Costa_Mesa']
['United_States', 'California', 'Cupertino']
['United_States', 'California', 'Daly_City']
['United_States', 'California', 'Davis']
['United_States', 'California', 'Delano']
['United_States', 'California', 'Diamond_Bar']
['United_States', 'California', 'Downey']
['United_States', 'California', 'Dublin']
['United_States', 'California', 'East_Los_Angeles']
['United_States', 'California', 'Eastvale']
['United_States', 'California', 'El_Cajon']
['United_States', 'California', 'El_Monte']
['United_States', 'California', 'Elk_Grove']
['United_States', 'California', 'Encinitas']
['United_States', 'California', 'Escondido']
['United_States', 'California', 'Fairfield']
['United_States', 'California', 'Florence-Graham']
['United_States', 'California', 'Folsom']
['United_States', 'California', 'Fontana']
['United_States', 'California', 'Fountain_Valley']
['United_States', 'California', 'Fremont']
['United_States', 'California', 'Fresno']
['United_States', 'California', 'Fullerton']
['United_States', 'California', 'Garden_Grove']
['United_States', 'California', 'Gardena']
['United_States', 'California', 'Gilroy']
['United_States', 'California', 'Glendale']
['United_States', 'California', 'Glendora']
['United_States', 'California', 'Hacienda_Heights']
['United_States', 'California', 'Hanford']
['United_States', 'California', 'Hawthorne']
['United_States', 'California', 'Hayward']
['United_States', 'California', 'Hemet']
['United_States', 'California', 'Hesperia']
['United_States', 'California', 'Highland']
['United_States', 'California', 'Huntington_Beach']
['United_States', 'California', 'Huntington_Park']
['United_States', 'California', 'Indio']
['United_States', 'California', 'Inglewood']
['United_States', 'California', 'Irvine']
['United_States', 'California', 'La_Habra']
['United_States', 'California', 'La_Mesa']
['United_States', 'California', 'Laguna_Niguel']
['United_States', 'California', 'Lake_Elsinore']
['United_States', 'California', 'Lake_Forest']
['United_States', 'California', 'Lakewood']
['United_States', 'California', 'Lancaster']
['United_States', 'California', 'Livermore']
['United_States', 'California', 'Lodi']
['United_States', 'California', 'Long_Beach']
['United_States', 'California', 'Los_Angeles']
['United_States', 'California', 'Lynwood']
['United_States', 'California', 'Madera']
['United_States', 'California', 'Manteca']
['United_States', 'California', 'Menifee']
['United_States', 'California', 'Merced']
['United_States', 'California', 'Milpitas']
['United_States', 'California', 'Mira_Mesa']
['United_States', 'California', 'Mission_Viejo']
['United_States', 'California', 'Modesto']
['United_States', 'California', 'Montebello']
['United_States', 'California', 'Monterey_Park']
['United_States', 'California', 'Moreno_Valley']
['United_States', 'California', 'Mountain_View']
['United_States', 'California', 'Murrieta']
['United_States', 'California', 'Napa']
['United_States', 'California', 'National_City']
['United_States', 'California', 'Newport_Beach']
['United_States', 'California', 'North_Glendale']
['United_States', 'California', 'North_Hollywood']
['United_States', 'California', 'Northridge']
['United_States', 'California', 'Norwalk']
['United_States', 'California', 'Novato']
['United_States', 'California', 'Oakland']
['United_States', 'California', 'Oceanside']
['United_States', 'California', 'Ontario']
['United_States', 'California', 'Orange']
['United_States', 'California', 'Oxnard']
['United_States', 'California', 'Oxnard_Shores']
['United_States', 'California', 'Palm_Desert']
['United_States', 'California', 'Palmdale']
['United_States', 'California', 'Palo_Alto']
['United_States', 'California', 'Paramount']
['United_States', 'California', 'Pasadena']
['United_States', 'California', 'Perris']
['United_States', 'California', 'Petaluma']
['United_States', 'California', 'Pico_Rivera']
['United_States', 'California', 'Pittsburg']
['United_States', 'California', 'Placentia']
['United_States', 'California', 'Pleasanton']
['United_States', 'California', 'Pomona']
['United_States', 'California', 'Porterville']
['United_States', 'California', 'Poway']
['United_States', 'California', 'Rancho_Cordova']
['United_States', 'California', 'Rancho_Cucamonga']
['United_States', 'California', 'Rancho_Penasquitos']
['United_States', 'California', 'Redding']
['United_States', 'California', 'Redlands']
['United_States', 'California', 'Redondo_Beach']
['United_States', 'California', 'Redwood_City']
['United_States', 'California', 'Rialto']
['United_States', 'California', 'Richmond']
['United_States', 'California', 'Riverside']
['United_States', 'California', 'Rocklin']
['United_States', 'California', 'Rosemead']
['United_States', 'California', 'Roseville']
['United_States', 'California', 'Sacramento']
['United_States', 'California', 'Salinas']
['United_States', 'California', 'San_Bernardino']
['United_States', 'California', 'San_Clemente']
['United_States', 'California', 'San_Diego']
['United_States', 'California', 'San_Francisco']
['United_States', 'California', 'San_Jose']
['United_States', 'California', 'San_Leandro']
['United_States', 'California', 'San_Marcos']
['United_States', 'California', 'San_Mateo']
['United_States', 'California', 'San_Pedro']
['United_States', 'California', 'San_Rafael']
['United_States', 'California', 'San_Ramon']
['United_States', 'California', 'Santa_Ana']
['United_States', 'California', 'Santa_Barbara']
['United_States', 'California', 'Santa_Clara']
['United_States', 'California', 'Santa_Clarita']
['United_States', 'California', 'Santa_Cruz']
['United_States', 'California', 'Santa_Maria']
['United_States', 'California', 'Santa_Monica']
['United_States', 'California', 'Santa_Rosa']
['United_States', 'California', 'Santee']
['United_States', 'California', 'Sherman_Oaks']
['United_States', 'California', 'Simi_Valley']
['United_States', 'California', 'South_Gate']
['United_States', 'California', 'South_San_Francisco']
['United_States', 'California', 'South_Whittier']
['United_States', 'California', 'Stockton']
['United_States', 'California', 'Sunnyvale']
['United_States', 'California', 'Temecula']
['United_States', 'California', 'Thousand_Oaks']
['United_States', 'California', 'Torrance']
['United_States', 'California', 'Tracy']
['United_States', 'California', 'Tulare']
['United_States', 'California', 'Turlock']
['United_States', 'California', 'Tustin']
['United_States', 'California', 'Union_City']
['United_States', 'California', 'Universal_City']
['United_States', 'California', 'Upland']
['United_States', 'California', 'Vacaville']
['United_States', 'California', 'Valencia']
['United_States', 'California', 'Vallejo']
['United_States', 'California', 'Van_Nuys']
['United_States', 'California', 'Ventura']
['United_States', 'California', 'Victorville']
['United_States', 'California', 'Visalia']
['United_States', 'California', 'Vista']
['United_States', 'California', 'Walnut_Creek']
['United_States', 'California', 'Watsonville']
['United_States', 'California', 'West_Covina']
['United_States', 'California', 'West_Sacramento']
['United_States', 'California', 'Westminster']
['United_States', 'California', 'Whittier']
['United_States', 'California', 'Woodland']
['United_States', 'California', 'Woodland_Hills']
['United_States', 'California', 'Yorba_Linda']
['United_States', 'California', 'Yuba_City']
['United_States', 'California', 'Yucaipa']
['United_States', 'Idaho', 'Boise']
['United_States', 'Idaho', 'Caldwell']
['United_States', 'Idaho', 'Idaho']
['United_States', 'Idaho', 'Idaho_Falls']
['United_States', 'Idaho', 'Meridian']
['United_States', 'Idaho', 'Nampa']
['United_States', 'Idaho', 'Pocatello']
['United_States', 'Nevada', 'Carson_City']
['United_States', 'Nevada', 'Enterprise']
['United_States', 'Nevada', 'Henderson']
['United_States', 'Nevada', 'Las_Vegas']
['United_States', 'Nevada', 'Nevada']
['United_States', 'Nevada', 'North_Las_Vegas']
['United_States', 'Nevada', 'Paradise']
['United_States', 'Nevada', 'Reno']
['United_States', 'Nevada', 'Sparks']
['United_States', 'Nevada', 'Spring_Valley']
['United_States', 'Nevada', 'Sunrise_Manor']
['United_States', 'Montana', 'Billings']
['United_States', 'Montana', 'Great_Falls']
['United_States', 'Montana', 'Missoula']
['United_States', 'Montana', 'Montana']
['United_States', 'Wyoming', 'Casper']
['United_States', 'Wyoming', 'Cheyenne']
['United_States', 'Wyoming', 'Wyoming']
['United_States', 'Utah', 'Layton']
['United_States', 'Utah', 'Lehi']
['United_States', 'Utah', 'Logan']
['United_States', 'Utah', 'Millcreek']
['United_States', 'Utah', 'Ogden']
['United_States', 'Utah', 'Orem']
['United_States', 'Utah', 'Provo']
['United_States', 'Utah', 'Saint_George']
['United_States', 'Utah', 'Salt_Lake_City']
['United_States', 'Utah', 'Sandy']
['United_States', 'Utah', 'South_Jordan']
['United_States', 'Utah', 'Taylorsville']
['United_States', 'Utah', 'Utah']
['United_States', 'Utah', 'West_Jordan']
['United_States', 'Utah', 'West_Valley_City']
['United_States', 'Arizona', 'Arizona']
['United_States', 'Arizona', 'Avondale']
['United_States', 'Arizona', 'Buckeye']
['United_States', 'Arizona', 'Casa_Grande']
['United_States', 'Arizona', 'Casas_Adobes']
['United_States', 'Arizona', 'Catalina_Foothills']
['United_States', 'Arizona', 'Chandler']
['United_States', 'Arizona', 'Flagstaff']
['United_States', 'Arizona', 'Gilbert']
['United_States', 'Arizona', 'Glendale']
['United_States', 'Arizona', 'Goodyear']
['United_States', 'Arizona', 'Lake_Havasu_City']
['United_States', 'Arizona', 'Mesa']
['United_States', 'Arizona', 'Peoria']
['United_States', 'Arizona', 'Phoenix']
['United_States', 'Arizona', 'San_Tan_Valley']
['United_States', 'Arizona', 'Scottsdale']
['United_States', 'Arizona', 'Surprise']
['United_States', 'Arizona', 'Tempe']
['United_States', 'Arizona', 'Tempe_Junction']
['United_States', 'Arizona', 'Tucson']
['United_States', 'Arizona', 'Yuma']
['United_States', 'Colorado', 'Arvada']
['United_States', 'Colorado', 'Aurora']
['United_States', 'Colorado', 'Boulder']
['United_States', 'Colorado', 'Broomfield']
['United_States', 'Colorado', 'Castle_Rock']
['United_States', 'Colorado', 'Centennial']
['United_States', 'Colorado', 'Colorado']
['United_States', 'Colorado', 'Colorado_Springs']
['United_States', 'Colorado', 'Commerce_City']
['United_States', 'Colorado', 'Denver']
['United_States', 'Colorado', 'Fort_Collins']
['United_States', 'Colorado', 'Grand_Junction']
['United_States', 'Colorado', 'Greeley']
['United_States', 'Colorado', 'Highlands_Ranch']
['United_States', 'Colorado', 'Lakewood']
['United_States', 'Colorado', 'Longmont']
['United_States', 'Colorado', 'Loveland']
['United_States', 'Colorado', 'Pueblo']
['United_States', 'Colorado', 'Thornton']
['United_States', 'Colorado', 'Westminster']
['United_States', 'New_Mexico', 'Albuquerque']
['United_States', 'New_Mexico', 'Enchanted_Hills']
['United_States', 'New_Mexico', 'Las_Cruces']
['United_States', 'New_Mexico', 'New_Mexico']
['United_States', 'New_Mexico', 'Rio_Rancho']
['United_States', 'New_Mexico', 'Santa_Fe']
['United_States', 'Texas', 'Abilene']
['United_States', 'Texas', 'Allen']
['United_States', 'Texas', 'Amarillo']
['United_States', 'Texas', 'Arlington']
['United_States', 'Texas', 'Atascocita']
['United_States', 'Texas', 'Austin']
['United_States', 'Texas', 'Baytown']
['United_States', 'Texas', 'Beaumont']
['United_States', 'Texas', 'Brownsville']
['United_States', 'Texas', 'Bryan']
['United_States', 'Texas', 'Carrollton']
['United_States', 'Texas', 'Cedar_Park']
['United_States', 'Texas', 'College_Station']
['United_States', 'Texas', 'Conroe']
['United_States', 'Texas', 'Corpus_Christi']
['United_States', 'Texas', 'Dallas']
['United_States', 'Texas', 'DeSoto']
['United_States', 'Texas', 'Denton']
['United_States', 'Texas', 'Edinburg']
['United_States', 'Texas', 'El_Paso']
['United_States', 'Texas', 'Euless']
['United_States', 'Texas', 'Flower_Mound']
['United_States', 'Texas', 'Fort_Worth']
['United_States', 'Texas', 'Frisco']
['United_States', 'Texas', 'Galveston']
['United_States', 'Texas', 'Garland']
['United_States', 'Texas', 'Georgetown']
['United_States', 'Texas', 'Grand_Prairie']
['United_States', 'Texas', 'Grapevine']
['United_States', 'Texas', 'Harlingen']
['United_States', 'Texas', 'Houston']
['United_States', 'Texas', 'Irving']
['United_States', 'Texas', 'Killeen']
['United_States', 'Texas', 'Laredo']
['United_States', 'Texas', 'League_City']
['United_States', 'Texas', 'Lewisville']
['United_States', 'Texas', 'Longview']
['United_States', 'Texas', 'Lubbock']
['United_States', 'Texas', 'Mansfield']
['United_States', 'Texas', 'McAllen']
['United_States', 'Texas', 'McKinney']
['United_States', 'Texas', 'Mesquite']
['United_States', 'Texas', 'Midland']
['United_States', 'Texas', 'Mission']
['United_States', 'Texas', 'Missouri_City']
['United_States', 'Texas', 'New_Braunfels']
['United_States', 'Texas', 'North_Richland_Hills']
['United_States', 'Texas', 'Odessa']
['United_States', 'Texas', 'Pasadena']
['United_States', 'Texas', 'Pearland']
['United_States', 'Texas', 'Pflugerville']
['United_States', 'Texas', 'Pharr']
['United_States', 'Texas', 'Plano']
['United_States', 'Texas', 'Port_Arthur']
['United_States', 'Texas', 'Richardson']
['United_States', 'Texas', 'Round_Rock']
['United_States', 'Texas', 'Rowlett']
['United_States', 'Texas', 'San_Angelo']
['United_States', 'Texas', 'San_Antonio']
['United_States', 'Texas', 'San_Marcos']
['United_States', 'Texas', 'Spring']
['United_States', 'Texas', 'Sugar_Land']
['United_States', 'Texas', 'Temple']
['United_States', 'Texas', 'Texas']
['United_States', 'Texas', 'The_Woodlands']
['United_States', 'Texas', 'Tyler']
['United_States', 'Texas', 'Victoria']
['United_States', 'Texas', 'Waco']
['United_States', 'Texas', 'Wichita_Falls']

In [13]:
zone_data

           Country    Division           Zone
0    United_States  Washington         Auburn
1    United_States  Washington       Bellevue
2    United_States  Washington     Bellingham
3    United_States  Washington         Burien
4    United_States  Washington        Everett
..             ...         ...            ...
389  United_States       Texas  The_Woodlands
390  United_States       Texas          Tyler
391  United_States       Texas       Victoria
392  United_States       Texas           Waco
393  United_States       Texas  Wichita_Falls

[394 rows x 3 columns]

In [14]:
zone_data.Division.value_counts()

California    198
Texas          69
Washington     26
Arizona        22
Colorado       20
Utah           15
Oregon         13
Nevada         11
Idaho           7
New_Mexico      6
Montana         4
Wyoming         3
Name: Division, dtype: int64

In [37]:
zone_data[zone_data.Division=="California"]

           Country    Division            Zone
39   United_States  California         Alameda
40   United_States  California        Alhambra
41   United_States  California     Aliso_Viejo
42   United_States  California         Anaheim
43   United_States  California         Antioch
..             ...         ...             ...
232  United_States  California        Woodland
233  United_States  California  Woodland_Hills
234  United_States  California     Yorba_Linda
235  United_States  California       Yuba_City
236  United_States  California         Yucaipa

[198 rows x 3 columns]

In [15]:
wunderground_url_map = [
"184","https://www.wunderground.com/history/daily/us/ca/san-francisco/KSFO",
"330","https://www.wunderground.com/history/daily/us/tx/austin/KAUS",
"17","https://www.wunderground.com/history/daily/us/wa/seattle/KSEA",
"291","https://www.wunderground.com/history/daily/us/az/phoenix/KPHX",
"308","https://www.wunderground.com/history/daily/us/co/denver/KDEN",
"270","https://www.wunderground.com/history/daily/us/ut/salt-lake-city/KSLC",


"26","https://www.wunderground.com/history/daily/us/or/albany/KSLE",
"27","https://www.wunderground.com/history/daily/us/or/beaverton/KPDX",
"28","https://www.wunderground.com/history/daily/us/or/bend/KRDM",
"29","https://www.wunderground.com/history/daily/us/or/corvallis/KSLE",
"30","https://www.wunderground.com/history/daily/us/or/eugene/KEUG",
"31","https://www.wunderground.com/history/daily/us/or/gresham/KPDX",
"32","https://www.wunderground.com/history/daily/us/or/hillsboro/KPDX",
"33","https://www.wunderground.com/history/daily/us/or/medford/KMFR",
"35","https://www.wunderground.com/history/daily/us/or/portland/KPDX",
"36","https://www.wunderground.com/history/daily/us/or/salem/KSLE",
"37","https://www.wunderground.com/history/daily/us/or/springfield/KEUG",
"38","https://www.wunderground.com/history/daily/us/or/tigard/KPDX",


"244","https://www.wunderground.com/history/daily/us/nv/carson-city/KRNO",
"246","https://www.wunderground.com/history/daily/us/nv/henderson/KBVU",
"247","https://www.wunderground.com/history/daily/us/nv/las-vegas/KVGT",
"249","https://www.wunderground.com/history/daily/us/nv/north-las-vegas/KVGT",
"251","https://www.wunderground.com/history/daily/us/nv/reno/KRNO",
"252","https://www.wunderground.com/history/daily/us/nv/sparks/KRNO",


"237","https://www.wunderground.com/history/daily/us/id/boise/KBOI",
"238","https://www.wunderground.com/history/daily/us/id/caldwell/KBOI",
"240","https://www.wunderground.com/history/daily/us/id/idaho-falls/KIDA",
"241","https://www.wunderground.com/history/daily/us/id/meridian/KBOI",
"242","https://www.wunderground.com/history/daily/us/id/nampa/KBOI",
"243","https://www.wunderground.com/history/daily/us/id/pocatello/KPIH",


"319","https://www.wunderground.com/history/daily/us/nm/albuquerque/KABQ",
"321","https://www.wunderground.com/history/daily/us/nm/las-cruces/KLRU",
"323","https://www.wunderground.com/history/daily/us/nm/rio-rancho/KABQ",
"324","https://www.wunderground.com/history/daily/us/nm/santa-fe/KSAF",

"255","https://www.wunderground.com/history/daily/us/mt/billings/KBIL",
"256","https://www.wunderground.com/history/daily/us/mt/great-falls/KGTF",
"257","https://www.wunderground.com/history/daily/us/mt/missoula/KMSO",


"259","https://www.wunderground.com/history/daily/us/wy/casper/KCPR",
"260","https://www.wunderground.com/history/daily/us/wy/cheyenne/KCYS"
]

In [16]:
wunderground_url_map_df = pd.DataFrame(np.array(wunderground_url_map).reshape(-1,2)).set_index(0)
wunderground_url_map_df.index =  wunderground_url_map_df.index.astype('int')

In [17]:
wunderground_url_map_df.join(zone_data)

,1,Country,Division,Zone
0,,,,
184,https://www.wunderground.com/history/daily/us/...,United_States,California,San_Francisco
330,https://www.wunderground.com/history/daily/us/...,United_States,Texas,Austin
17,https://www.wunderground.com/history/daily/us/...,United_States,Washington,Seattle
291,https://www.wunderground.com/history/daily/us/...,United_States,Arizona,Phoenix
308,https://www.wunderground.com/history/daily/us/...,United_States,Colorado,Denver
270,https://www.wunderground.com/history/daily/us/...,United_States,Utah,Salt_Lake_City
26,https://www.wunderground.com/history/daily/us/...,United_States,Oregon,Albany
27,https://www.wunderground.com/history/daily/us/...,United_States,Oregon,Beaverton
28,https://www.wunderground.com/history/daily/us/...,United_States,Oregon,Bend
29,https://www.wunderground.com/history/daily/us/...,United_States,Oregon,Corvallis
30,https://www.wunderground.com/history/daily/us/...,United_States,Oregon,Eugene
31,https://www.wunderground.com/history/daily/us/...,United_States,Oregon,Gresham
32,https://www.wunderground.com/history/daily/us/...,United_States,Oregon,Hillsboro
33,https://www.wunderground.com/history/daily/us/...,United_States,Oregon,Medford
35,https://www.wunderground.com/history/daily/us/...,United_States,Oregon,Portland
36,https://www.wunderground.com/history/daily/us/...,United_States,Oregon,Salem
37,https://www.wunderground.com/history/daily/us/...,United_States,Oregon,Springfield
38,https://www.wunderground.com/history/daily/us/...,United_States,Oregon,Tigard
244,https://www.wunderground.com/history/daily/us/...,United_States,Nevada,Carson_City
246,https://www.wunderground.com/history/daily/us/...,United_States,Nevada,Henderson
247,https://www.wunderground.com/history/daily/us/...,United_States,Nevada,Las_Vegas
249,https://www.wunderground.com/history/daily/us/...,United_States,Nevada,North_Las_Vegas
251,https://www.wunderground.com/history/daily/us/...,United_States,Nevada,Reno
252,https://www.wunderground.com/history/daily/us/...,United_States,Nevada,Sparks
237,https://www.wunderground.com/history/daily/us/...,United_States,Idaho,Boise
238,https://www.wunderground.com/history/daily/us/...,United_States,Idaho,Caldwell
240,https://www.wunderground.com/history/daily/us/...,United_States,Idaho,Idaho_Falls
241,https://www.wunderground.com/history/daily/us/...,United_States,Idaho,Meridian
242,https://www.wunderground.com/history/daily/us/...,United_States,Idaho,Nampa
243,https://www.wunderground.com/history/daily/us/...,United_States,Idaho,Pocatello
319,https://www.wunderground.com/history/daily/us/...,United_States,New_Mexico,Albuquerque
321,https://www.wunderground.com/history/daily/us/...,United_States,New_Mexico,Las_Cruces
323,https://www.wunderground.com/history/daily/us/...,United_States,New_Mexico,Rio_Rancho
324,https://www.wunderground.com/history/daily/us/...,United_States,New_Mexico,Santa_Fe
255,https://www.wunderground.com/history/daily/us/...,United_States,Montana,Billings
256,https://www.wunderground.com/history/daily/us/...,United_States,Montana,Great_Falls
257,https://www.wunderground.com/history/daily/us/...,United_States,Montana,Missoula
259,https://www.wunderground.com/history/daily/us/...,United_States,Wyoming,Casper
260,https://www.wunderground.com/history/daily/us/...,United_States,Wyoming,Cheyenne

In [19]:
selected_id = [184, 330, 17, 291, 308, 270,35,247,237,319,255,260]

In [36]:
url_strings = wunderground_url_map_df.loc[selected_id][1].str.split('/').str[-3:].str.join("/")

In [42]:
list(url_strings.values)

['ca/san-francisco/KSFO',
 'tx/austin/KAUS',
 'wa/seattle/KSEA',
 'az/phoenix/KPHX',
 'co/denver/KDEN',
 'ut/salt-lake-city/KSLC',
 'or/portland/KPDX',
 'nv/las-vegas/KVGT',
 'id/boise/KBOI',
 'nm/albuquerque/KABQ',
 'mt/billings/KBIL',
 'wy/cheyenne/KCYS']

In [1]:
# zone_data.loc[selected_id].to_csv('usa_west.csv',index=False)

NameError: name 'zone_data' is not defined

In [46]:
list(zone_data.loc[selected_id].Zone.values)

['San_Francisco',
 'Austin',
 'Seattle',
 'Phoenix',
 'Denver',
 'Salt_Lake_City',
 'Portland',
 'Las_Vegas',
 'Boise',
 'Albuquerque',
 'Billings',
 'Cheyenne']