# Division Statistics

In [3]:
from data_preparation import get_metadata, get_series

series = get_series()
meta_data = get_metadata()

# series
meta_data

                  Division  Population  Latitude  Longitude
Zone
Adilabad         Telangana      118526   19.6720    78.5359
Agartala           Tripura      203264   23.8361    91.2794
Agra         Uttar Pradesh     1430055   27.1833    78.0167
Ajodhya      Uttar Pradesh       53293   26.7991    82.2047
Aligarh      Uttar Pradesh      753207   27.8815    78.0746
...                    ...         ...       ...        ...
Warangal         Telangana      557802   18.0000    79.5833
Yamethin          Mandalay       59867   20.4319    96.1388
Yamunanagar        Haryana      208931   30.1280    77.2837
Yangon              Yangon     4477638   16.8053    96.1561
Yenangyaung         Magway      110553   20.4650    94.8712

[505 rows x 4 columns]

In [4]:
def process_by_division(divisional_zone):
    divisional_series = series[divisional_zone.index].mean(axis=1)
    return divisional_series

division_series = meta_data.groupby('Division').apply(process_by_division).T
division_series

Division,Assam,Ayeyarwady,Bago,Barisal,Bihar,Chhattisgarh,Chittagong,Dhaka,Haryana,Jharkhand,...,Rangpur Division,Sagain,Shan,Sylhet,Tanintharyi,Telangana,Tripura,Uttar Pradesh,West Bengal,Yangon
time,,,,,,,,,,,,,,,,,,,,,
2017-01-01 00:00:00,NaN,NaN,NaN,205.900000,98.021951,82.700000,197.320000,240.423529,128.315385,122.728571,...,NaN,NaN,21.80,171.000000,18.0,71.533333,193.0,124.025714,225.537879,NaN
2017-01-01 01:00:00,NaN,NaN,NaN,197.100000,89.312195,82.550000,194.500000,239.429412,121.476923,112.492857,...,NaN,NaN,24.30,171.200000,15.8,79.028205,192.9,110.986667,200.462121,NaN
2017-01-01 02:00:00,NaN,NaN,NaN,172.900000,84.153659,78.800000,175.580000,217.247059,127.719231,99.642857,...,NaN,NaN,27.90,157.800000,15.0,77.456410,176.7,115.924762,163.186364,NaN
2017-01-01 03:00:00,NaN,NaN,NaN,162.966667,87.392683,86.300000,166.480000,203.735294,136.342308,99.150000,...,NaN,NaN,32.60,152.300000,14.3,82.828205,168.4,120.986667,152.846970,NaN
2017-01-01 04:00:00,NaN,NaN,NaN,151.566667,92.004878,87.350000,160.440000,196.188235,150.857692,95.850000,...,NaN,NaN,39.00,151.600000,16.8,87.653846,165.2,137.730769,129.387879,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-31 19:00:00,50.823077,52.266667,50.22,107.333333,92.483784,76.946154,94.470000,120.476471,108.533333,66.300000,...,69.725,NaN,33.35,85.100000,NaN,71.494286,102.3,113.537864,110.426316,56.450
2021-12-31 20:00:00,96.215385,55.066667,50.16,104.966667,100.735135,65.969231,80.472727,122.794118,144.157143,62.386667,...,116.125,34.900000,27.45,77.300000,NaN,66.180000,110.9,129.116505,134.739474,62.125
2021-12-31 21:00:00,107.892308,72.633333,64.48,111.000000,86.513514,67.776923,91.936364,125.794118,120.966667,46.000000,...,124.725,38.766667,28.15,94.333333,NaN,68.845714,131.4,129.634951,127.319737,84.650
2021-12-31 22:00:00,104.946154,72.766667,64.34,107.566667,83.254054,52.315385,89.209091,122.029412,119.528571,41.860000,...,120.400,36.933333,28.25,89.600000,NaN,65.474286,133.0,127.453398,123.465789,85.425
2021-12-31 23:00:00,96.023077,73.950000,65.32,99.833333,81.797297,46.046154,90.254545,121.252941,122.114286,39.773333,...,112.650,35.666667,28.45,93.000000,NaN,57.162857,147.9,122.106796,86.867105,87.625

In [12]:
division_series_bd = division_series[['Dhaka','Khulna','Chittagong']]["2019":'2022'].round(2)
division_series_bd.to_csv("division_series.csv")

Division              Dhaka  Khulna  Chittagong
time
2019-01-01 00:00:00  158.26  155.70      123.92
2019-01-01 01:00:00  148.10  143.48      114.76
2019-01-01 02:00:00  151.65  149.72      116.90
2019-01-01 03:00:00  174.06  162.10      132.69
2019-01-01 04:00:00  183.80  169.20      140.81
...                     ...     ...         ...
2021-12-31 19:00:00  120.48  119.48       94.47
2021-12-31 20:00:00  122.79  130.28       80.47
2021-12-31 21:00:00  125.79  130.36       91.94
2021-12-31 22:00:00  122.03  126.50       89.21
2021-12-31 23:00:00  121.25  102.18       90.25

[26304 rows x 3 columns]

In [5]:
division_series.isna().sum().sort_values()

Division
Uttar Pradesh           1625
Khulna                  1654
West Bengal             1665
Bihar                   1798
Haryana                 1807
Jharkhand               1849
Rajshahi                1857
NCT                     2042
Odisha                  2266
Telangana               2360
Shan                    2411
Dhaka                   2455
Barisal                 2456
Mymensingh Division     2499
Chittagong              2582
Madhya Pradesh          3512
Kachin                  3682
Sylhet                  4685
Tripura                 4688
Chhattisgarh            4689
Rangpur Division        5639
Assam                  10449
Kayin                  11859
Mon                    12872
Bago                   12878
Tanintharyi            15177
Mandalay               23883
Yangon                 25147
Ayeyarwady             27214
Sagain                 27967
Nay Pyi Taw            33979
Magway                 34939
Rakhine                43814
dtype: int64

In [6]:
division_series.resample('Y').apply(lambda x: x.isna().sum())#.sum(axis=1)

Division,Assam,Ayeyarwady,Bago,Barisal,Bihar,Chhattisgarh,Chittagong,Dhaka,Haryana,Jharkhand,...,Rangpur Division,Sagain,Shan,Sylhet,Tanintharyi,Telangana,Tripura,Uttar Pradesh,West Bengal,Yangon
time,,,,,,,,,,,,,,,,,,,,,
2017-12-31,8760.0,8760.0,8760.0,1392.0,813.0,1254.0,1392.0,1392.0,808.0,942.0,...,4495.0,8760.0,894.0,1392.0,3138.0,846.0,1392.0,759.0,823.0,8760.0
2018-12-31,1547.0,8760.0,1774.0,868.0,776.0,1208.0,915.0,868.0,667.0,686.0,...,912.0,8760.0,656.0,2857.0,900.0,700.0,2857.0,683.0,661.0,8760.0
2019-12-31,82.0,7105.0,133.0,23.0,35.0,1403.0,88.0,23.0,136.0,50.0,...,58.0,6850.0,48.0,237.0,122.0,156.0,239.0,20.0,18.0,5412.0
2020-12-31,8.0,439.0,65.0,11.0,8.0,239.0,11.0,11.0,8.0,9.0,...,9.0,1656.0,492.0,19.0,2350.0,153.0,19.0,8.0,8.0,65.0
2021-12-31,52.0,2150.0,2146.0,162.0,166.0,585.0,176.0,161.0,188.0,162.0,...,165.0,1941.0,321.0,180.0,8667.0,505.0,181.0,155.0,155.0,2150.0

In [10]:
Khulna_division_series = division_series.Khulna
Khulna_division_series

time
2017-01-01 00:00:00    226.34
2017-01-01 01:00:00    210.94
2017-01-01 02:00:00    180.12
2017-01-01 03:00:00    168.82
2017-01-01 04:00:00    151.92
                        ...
2021-12-31 19:00:00    119.48
2021-12-31 20:00:00    130.28
2021-12-31 21:00:00    130.36
2021-12-31 22:00:00    126.50
2021-12-31 23:00:00    102.18
Name: Khulna, Length: 43824, dtype: float64

In [13]:
Khulna_division_series.resample('Y').apply(lambda x: x.isna().sum())

time
2017-12-31    677.0
2018-12-31    781.0
2019-12-31     23.0
2020-12-31     11.0
2021-12-31    162.0
Freq: A-DEC, Name: Khulna, dtype: float64